# In this notebook, treat the raw data in year 2023 which includes 5 seperate original txt files.

# What has been done in this notebook?
1. Add column names to the original txt files since they did not include column names. 
2. Create the dataframe new_df_xxxx with 9 columns we are interested in from the original individual donor df. xxxx is the last    four digits of each txt file.
3. Combine the five new_df_xxxx into one dataframe df_2023.
4. Add "party_full" column to df_2023 and name the dataframe as new_df_2023.
5. Treat the CMTE_ID with the highest amount of missing values in party_ful column. After this, the party_full missing values      percentage is about 20%.
6. Drop rows where party_full values are not equal to "DEMOCRATIC PARTY" or "REPUBLICAN PARTY".
6. Creat a new column 'party_label', assign 1 to "DEMOCRATIC PARTY" and 0 to "REPUBLICAN PARTY".
7. Transform 'TRANSCATION_DT' to date_time format and store it in the new column 'TRANSAC_DT_new'.
8. Drop rows where the 'TRANSAC_DT_new' values are not in the year of 2023.
5. Save df_2_party_2023 to a new CSV file and name it as 'df_2_party_2023.csv'

(the above stesps will be applied to files in each year respectively.)

In [1]:
import pandas as pd

In [2]:
headname = pd.read_csv('indiv_header_file (for political donor txt files).csv')

In [3]:
headname.columns

Index(['CMTE_ID', 'AMNDT_IND', 'RPT_TP', 'TRANSACTION_PGI', 'IMAGE_NUM',
       'TRANSACTION_TP', 'ENTITY_TP', 'NAME', 'CITY', 'STATE', 'ZIP_CODE',
       'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT', 'TRANSACTION_AMT',
       'OTHER_ID', 'TRAN_ID', 'FILE_NUM', 'MEMO_CD', 'MEMO_TEXT', 'SUB_ID'],
      dtype='object')

In [4]:
df_0330 = pd.read_csv('itcont_2024_20030211_20230330.txt', delimiter='|',names=headname.columns, header=None)

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\2522238050.py:1: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0330 = pd.read_csv('itcont_2024_20030211_20230330.txt', delimiter='|',names=headname.columns, header=None)

In [5]:
df_0527 = pd.read_csv('itcont_2024_20230331_20230527.txt', delimiter='|',names=headname.columns, header=None)

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\4230808486.py:1: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0527 = pd.read_csv('itcont_2024_20230331_20230527.txt', delimiter='|',names=headname.columns, header=None)

In [6]:
df_0721 = pd.read_csv('itcont_2024_20230528_20230721.txt', delimiter='|',names=headname.columns, header=None)

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\1669191063.py:1: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0721 = pd.read_csv('itcont_2024_20230528_20230721.txt', delimiter='|',names=headname.columns, header=None)

In [7]:
df_0929 = pd.read_csv('itcont_2024_20230722_20230929.txt', delimiter='|',names=headname.columns, header=None)

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\1716292352.py:1: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0929 = pd.read_csv('itcont_2024_20230722_20230929.txt', delimiter='|',names=headname.columns, header=None)

In [8]:
df_0622 = pd.read_csv('itcont_2024_20230930_20260622.txt', delimiter='|',names=headname.columns, header=None)

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\29901737.py:1: DtypeWarning: Columns (10,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0622 = pd.read_csv('itcont_2024_20230930_20260622.txt', delimiter='|',names=headname.columns, header=None)

In [9]:
df_0330.shape

(1974696, 21)

In [10]:
df_0330.columns

Index(['CMTE_ID', 'AMNDT_IND', 'RPT_TP', 'TRANSACTION_PGI', 'IMAGE_NUM',
       'TRANSACTION_TP', 'ENTITY_TP', 'NAME', 'CITY', 'STATE', 'ZIP_CODE',
       'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT', 'TRANSACTION_AMT',
       'OTHER_ID', 'TRAN_ID', 'FILE_NUM', 'MEMO_CD', 'MEMO_TEXT', 'SUB_ID'],
      dtype='object')

In [11]:
df_0330.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974696 entries, 0 to 1974695
Data columns (total 21 columns):
 #   Column           Dtype
---  ------           -----
 0   CMTE_ID          object
 1   AMNDT_IND        object
 2   RPT_TP           object
 3   TRANSACTION_PGI  object
 4   IMAGE_NUM        int64
 5   TRANSACTION_TP   object
 6   ENTITY_TP        object
 7   NAME             object
 8   CITY             object
 9   STATE            object
 10  ZIP_CODE         object
 11  EMPLOYER         object
 12  OCCUPATION       object
 13  TRANSACTION_DT   int64
 14  TRANSACTION_AMT  int64
 15  OTHER_ID         object
 16  TRAN_ID          object
 17  FILE_NUM         int64
 18  MEMO_CD          object
 19  MEMO_TEXT        object
 20  SUB_ID           int64
dtypes: int64(5), object(16)
memory usage: 316.4+ MB

In [12]:
df_0527.shape

(1973198, 21)

In [13]:
df_0721.shape

(1997968, 21)

In [14]:
df_0929.shape

(1989995, 21)

In [15]:
df_0622.shape

(755860, 21)

Contributions by individuals file format
https://www.fec.gov/campaign-finance-data/contributions-individuals-file-description/

# create the dataframe new_df_xxxx with 8 columns listed below.

In [16]:
new_df_0330 = df_0330[['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT','TRANSACTION_AMT']]

In [21]:
new_df_0330.head()

,CMTE_ID,NAME,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT
0,C00817940,"DUFF, JAMES",LOS ANGELES,CA,900271058,NaN,NaN,1192023,800
1,C00817940,"ROTHMAN, ANDREW",CULVER CITY,CA,902322403,NaN,NaN,1192023,250
2,C00817940,"PELLETT, CLARK",CHICAGO,IL,606114546,NaN,NaN,1202023,345
3,C00817940,"DISNEY, TIMOTHY",ENCINO,CA,914361845,NaN,NaN,1192023,615
4,C00817940,"TRONE, DAVID",POTOMAC,MD,208541640,NaN,NaN,1192023,5000

In [17]:
new_df_0527 = df_0527[['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT','TRANSACTION_AMT']]

In [18]:
new_df_0527.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT
0,C00443689,LAS CRUCES,NM,880076987.0,NOT EMPLOYED,NOT EMPLOYED,3312023,50
1,C00443689,GREENWOOD VILLAGE,CO,801111955.0,NOT EMPLOYED,NOT EMPLOYED,3312023,2
2,C00443689,GLENDALE,AZ,853086378.0,NOT EMPLOYED,NOT EMPLOYED,3312023,10
3,C00443689,BAYONNE,NJ,70021129.0,NOT EMPLOYED,NOT EMPLOYED,3312023,6
4,C00786194,WOODBRIDGE,VA,221925803.0,MGC,BUILDER,3312023,500

In [19]:
new_df_0721 = df_0721[['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT','TRANSACTION_AMT']]

In [20]:
new_df_0721.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT
0,C00814152,SAN FRANCISCO,CA,94131,RETIRED,RETIRED,6022023,50
1,C00814152,LEANDER,TX,78641,TRUIST,RISK MGMT,6112023,150
2,C00814152,FALLBROOK,CA,92028,RETIRED,RETIRED,6022023,50
3,C00814152,PALM DESERT,CA,92211,RETIRED,RETIRED,6302023,1000
4,C00814152,DOVER,DE,19901,PAT'S PIZZA,DRIVER,6032023,25

In [21]:
new_df_0929 = df_0929[['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT','TRANSACTION_AMT']]

In [22]:
new_df_0929.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT
0,C00101766,SAINT HELENA,CA,945742040.0,UNITED AIRLINES INC.,SVP MARKET & COMM INNOVATION,8312023,208
1,C00101766,HOUSTON,TX,770274804.0,UNITED AIRLINES INC.,EVP & CHIEF FINANCIAL OFFICER,8312023,208
2,C00101766,PARK RIDGE,IL,600681605.0,UNITED AIRLINES INC.,SR PRINCIPAL ARCHITECT - IT,8152023,20
3,C00101766,PARK RIDGE,IL,600681605.0,UNITED AIRLINES INC.,SR PRINCIPAL ARCHITECT - IT,8312023,20
4,C00101766,SAINT HELENA,CA,945742040.0,UNITED AIRLINES INC.,SVP MARKET & COMM INNOVATION,8152023,208

In [23]:
new_df_0622 = df_0622[['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT','TRANSACTION_AMT']]

In [24]:
new_df_0622.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT
0,C00108209,RICHMOND,VA,232194306.0,"DOM ENERGY SERVICES, INC.",SR ACCOUNTANT,10192023,36
1,C00108209,RICHMOND,VA,232314527.0,VA ELECTRIC & POWER CO.,SUPERVISOR-CUSTOMER,10192023,25
2,C00108209,RICHMOND,VA,232194306.0,"DOM ENERGY SERVICES, INC.",MANAGER-ENERGY MARKE,10192023,62
3,C00108209,RICHMOND,VA,232193852.0,"DOM ENERGY SERVICES, INC.",VP OPERATIONS SUPPOR,10192023,193
4,C00108209,RICHMOND,VA,232193852.0,"DOM ENERGY SERVICES, INC.",RENEWABLE ENERGY PRO,10192023,25

In [25]:
new_df_0330.shape

(1974696, 8)

In [26]:
new_df_0527.shape

(1973198, 8)

In [27]:
new_df_0721.shape

(1997968, 8)

In [28]:
new_df_0929.shape

(1989995, 8)

In [29]:
new_df_0622.shape

(755860, 8)

In [30]:
new_df_0330.shape[0]+new_df_0527.shape[0]+new_df_0721.shape[0]+new_df_0929.shape[0]+new_df_0622.shape[0]

8691717

In [31]:
# Assuming df1, df2, df3, and df4 are your DataFrames
all_dfs = [new_df_0330, new_df_0527, new_df_0721, new_df_0929,new_df_0622]

# Use the concat function to combine the DataFrames vertically
df_2023 = pd.concat(all_dfs, ignore_index=True,sort=False)

In [32]:
df_2023.shape

(8691717, 8)

In [33]:
df_2023.CMTE_ID.value_counts().head(20)

C00401224    1617159
C00770941     549075
C00027466     475987
C00003418     308542
C00000935     282716
C00042366     176503
C00420935     165105
C00075820     152793
C00010603     127052
C00694323      94350
C00750521      87883
C00540302      82723
C00580068      76004
C00411330      72960
C00482984      71636
C00193433      58980
C00492785      57235
C00343871      55334
C00836353      51351
C00836403      48783
Name: CMTE_ID, dtype: int64

In [34]:
df_2023.isnull().sum()

CMTE_ID                 0
CITY                  761
STATE                3070
ZIP_CODE             9170
EMPLOYER           665557
OCCUPATION         245020
TRANSACTION_DT          0
TRANSACTION_AMT         0
dtype: int64

In [35]:
# get percentage of null values for each column
df_2023.isnull().sum()/len(df_2023)

CMTE_ID            0.000000
CITY               0.000088
STATE              0.000353
ZIP_CODE           0.001055
EMPLOYER           0.076574
OCCUPATION         0.028190
TRANSACTION_DT     0.000000
TRANSACTION_AMT    0.000000
dtype: float64

In [36]:
# read the csv file including both CMTE_ID and party name which was exported from 
# https://www.fec.gov/data/committees/ on Dec.8,2023. The information is updated frequently on the website.

df_commit = pd.read_csv('../committees-2023-12-08T16_44_14 _with party info.csv')

In [37]:
df_commit.head()

,name,cycles,treasurer_name,committee_type,committee_type_full,filing_frequency,designation,designation_full,organization_type,organization_type_full,...,party,party_full,state,first_file_date,last_file_date,first_f1_date,last_f1_date,committee_id,candidate_ids,sponsor_candidate_ids
0,TOM HICKEY FOR CONGRESS,{2002},COLIN M GALLAGHER,H,House,T,P,Principal campaign committee,NaN,NaN,...,REP,REPUBLICAN PARTY,MI,5/16/2001,5/17/2002,5/16/2001,5/16/2001,C00366450,{H8MI13151},NaN
1,WIN PAC,"{2002,2004,2006,2008}",KINDE DURKEE,N,PAC - Nonqualified,A,U,Unauthorized,NaN,NaN,...,NaN,NaN,CA,6/5/2001,1/31/2008,6/5/2001,8/8/2001,C00366732,{},NaN
2,FIRST CONGRESSIONAL DISTRICT VICTORY FUND,{2002},ANN MARIE HABERSHAW,X,Party - Nonqualified,T,J,Joint fundraising committee,NaN,NaN,...,NaN,NaN,DC,7/6/2001,5/23/2002,7/6/2001,7/6/2001,C00367433,{H2IL01042},NaN
3,CORRECTIONAL SERVICES CORPORATION/YOUTH SERVIC...,"{2002,2004,2006}",BERNARD WAGNER,N,PAC - Nonqualified,A,U,Unauthorized,C,Corporation,...,NaN,NaN,FL,7/11/2001,9/15/2005,7/11/2001,7/11/2001,C00367540,{},NaN
4,KEN REVELL FOR CONGRESS,"{2002,2004}",NATASHA REVELL,H,House,A,P,Principal campaign committee,NaN,NaN,...,NaN,NaN,FL,7/12/2001,7/31/2003,8/14/2001,8/14/2001,C00367565,{H2FL01159},NaN

In [38]:
df_commit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79884 entries, 0 to 79883
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       79870 non-null  object
 1   cycles                     79884 non-null  object
 2   treasurer_name             77150 non-null  object
 3   committee_type             79862 non-null  object
 4   committee_type_full        79862 non-null  object
 5   filing_frequency           79884 non-null  object
 6   designation                79849 non-null  object
 7   designation_full           79849 non-null  object
 8   organization_type          10999 non-null  object
 9   organization_type_full     10971 non-null  object
 10  affiliated_committee_name  45236 non-null  object
 11  party                      37674 non-null  object
 12  party_full                 37410 non-null  object
 13  state                      79619 non-null  object
 14  first_file_date            79792 non-null  object
 15  last_file_date             79792 non-null  object
 16  first_f1_date              76283 non-null  object
 17  last_f1_date               76283 non-null  object
 18  committee_id               79884 non-null  object
 19  candidate_ids              79884 non-null  object
 20  sponsor_candidate_ids      1176 non-null   object
dtypes: object(21)
memory usage: 12.8+ MB

In [39]:
df_commit.party_full.value_counts().head(20)

REPUBLICAN PARTY              15857
DEMOCRATIC PARTY              15058
INDEPENDENT                    2066
UNKNOWN                         930
LIBERTARIAN PARTY               899
OTHER                           376
NONE                            308
GREEN PARTY                     284
WRITE-IN                        205
NO PARTY AFFILIATION            189
UNAFFILIATED                    170
REFORM PARTY                    121
SOCIALIST WORKERS PARTY         110
DEMOCRATIC-FARM-LABOR           102
DEMOCRATIC-FARMER-LABOR          65
CONSTITUTION PARTY               65
CITIZENS' PARTY                  53
AMERICAN INDEPENDENT PARTY       53
CONSERVATIVE PARTY               51
INDEPENDENCE PARTY               50
Name: party_full, dtype: int64

# merge the party_full column from df_commit to new_df and name it as new_df_party

In [40]:
# Merge based on 'committee_id'
df_commit['CMTE_ID'] = df_commit['committee_id']
new_df_2023 = pd.merge(df_2023, df_commit[['CMTE_ID', 'party_full']], on='CMTE_ID', how='left')

In [41]:
new_df_2023.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full
0,C00817940,LOS ANGELES,CA,900271058,NaN,NaN,1192023,800,NaN
1,C00817940,CULVER CITY,CA,902322403,NaN,NaN,1192023,250,NaN
2,C00817940,CHICAGO,IL,606114546,NaN,NaN,1202023,345,NaN
3,C00817940,ENCINO,CA,914361845,NaN,NaN,1192023,615,NaN
4,C00817940,POTOMAC,MD,208541640,NaN,NaN,1192023,5000,NaN

In [42]:
new_df_2023.shape

(8691717, 9)

In [43]:
new_df_2023.party_full.isnull().sum()

4738952

In [44]:
new_df_2023.party_full.count()

3952765

In [45]:
len(new_df_2023)-new_df_2023.party_full.isnull().sum()

3952765

In [46]:
party_null_percentage = new_df_2023.party_full.isnull().sum()/len(new_df_2023)
party_null_percentage

0.5452262193994581

In [47]:
new_df_2023.party_full.value_counts()

REPUBLICAN PARTY           2018600
DEMOCRATIC PARTY           1551317
UNKNOWN                     208802
INDEPENDENT                 100331
NONE                         50567
DEMOCRATIC-FARMER-LABOR      16063
LIBERTARIAN PARTY             2853
OTHER                         1740
NEW PROGRESSIVE PARTY         1229
GREEN PARTY                    612
CONSTITUTION PARTY             338
NEW ALLIANCE                   165
UNAFFILIATED                    68
WRITE-IN                        22
NON-PARTY                       18
NO PARTY AFFILIATION            14
CONSTITUTIONAL                   8
REFORM PARTY                     7
COMMUNIST PARTY                  7
CONSERVATIVE PARTY               4
Name: party_full, dtype: int64

In [48]:
party_percentage = new_df_2023.party_full.value_counts()/new_df_2023.party_full.count()
party_percentage

REPUBLICAN PARTY           0.510680
DEMOCRATIC PARTY           0.392464
UNKNOWN                    0.052824
INDEPENDENT                0.025382
NONE                       0.012793
DEMOCRATIC-FARMER-LABOR    0.004064
LIBERTARIAN PARTY          0.000722
OTHER                      0.000440
NEW PROGRESSIVE PARTY      0.000311
GREEN PARTY                0.000155
CONSTITUTION PARTY         0.000086
NEW ALLIANCE               0.000042
UNAFFILIATED               0.000017
WRITE-IN                   0.000006
NON-PARTY                  0.000005
NO PARTY AFFILIATION       0.000004
CONSTITUTIONAL             0.000002
REFORM PARTY               0.000002
COMMUNIST PARTY            0.000002
CONSERVATIVE PARTY         0.000001
Name: party_full, dtype: float64

In [49]:
null_party_full_df = new_df_2023[new_df_2023['party_full'].isnull()]

# Display unique values of 'CMTE_ID' for rows where 'party_full' is null
unique_cmte_ids_for_null_party_full = null_party_full_df['CMTE_ID'].unique()

# Display the result
print("Unique CMTE_ID values for rows where 'party_full' is null:")
print(unique_cmte_ids_for_null_party_full)

Unique CMTE_ID values for rows where 'party_full' is null:
['C00817940' 'C00815316' 'C00806562' ... 'C00325977' 'C00755850'
 'C00424010']

In [50]:
len(unique_cmte_ids_for_null_party_full)

3883

In [51]:
null_party_full_df['CMTE_ID'].value_counts().head(30)

C00401224    1617159
C00770941     549075
C00694323      94350
C00750521      87883
C00580068      76004
C00193433      58980
C00836353      51351
C00836403      48783
C00573261      39261
C00830679      38593
C00748228      36319
C00685297      35173
C00603084      32851
C00142711      32545
C00096156      30908
C00088591      30093
C00562983      29669
C00770214      27634
C00002089      27128
C00744946      27025
C00365536      26736
C00745786      26179
C00676395      24237
C00341396      23656
C00337733      21701
C00238725      21402
C00271338      20252
C00248716      19660
C00076810      19103
C00782599      18843
Name: CMTE_ID, dtype: int64

# Treat the CMTE_ID with the highest amount of missing values in party_ful column

A list of joint funderaising committees and associated political party
https://www.opensecrets.org/jfc/top.php?type=C

C00401224 (ActBlue) 

The party for this CMTE_ID will be labled as 'Democratic Party' based on the information below:

"ActBlue is not run by the official Democratic Party or any other organization. We are a mission-based organization, which is why only Democrats and progressive organizations (not Republicans) can use our tools to fundraise." 

https://support.actblue.com/donors/about-actblue/is-actblue-run-by-the-democratic-party-or-affiliated-with-any-organizations/

In [52]:
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00401224'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00401224', 'party_full'] = 'DEMOCRATIC PARTY'

C00770941 (trump save america joint fundraising committee)

The party for this CMTE_ID will be labled as 'Republican Party' since Trump is affilicated with republican party.

https://secure.winred.com/save-america-joint-fundraising-committee/storefront/

In [53]:
#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00770941'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00770941', 'party_full'] = 'REPUBLICAN PARTY'

C00836353  (NEWSOM FOR CALIFORNIA GOVERNOR 2022) 

Not clear which party this CMTE_ID is related with, thus, no change to this. 
https://www.fec.gov/data/committee/C00836353/

C00694323 (	WINRED) 

Based on the video description, winRed is a platform used to raise money for Republican party. Thus, the party for this CMTE_ID will be labled as 'Republican Party'.

https://www.fec.gov/data/committee/C00694323/?tab=about-committee 

https://support.winred.com/en/articles/3056005-what-is-winred

In [54]:
#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00694323'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00694323', 'party_full'] = 'REPUBLICAN PARTY'

C00750521  (TEAM SCALISE)

The party for this CMTE_ID will be labled as 'Republican Party' since Steve Scalise is affilicated with republican party.

https://teamscalise.com/

In [55]:
#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00750521'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00750521', 'party_full'] = 'REPUBLICAN PARTY'

In [56]:
# C00685297    (ELECT DEMOCRATIC WOMEN): 'DEMOCRATIC Party' 
# https://electdemocraticwomen.org/
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00685297'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00685297', 'party_full'] = 'DEMOCRATIC PARTY'

In [57]:
# C00676395 (BLACKBURN TENNESSEE VICTORY FUND): 'Republican Party' https://www.opensecrets.org/jfc/summary.php?id=C00676395&cycle=2022

#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00676395'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00676395', 'party_full'] = 'REPUBLICAN PARTY'

In [58]:
# C00580068 (PROGRESSIVE TURNOUT PROJECT): 'DEMOCRATIC PARTY'  https://www.opensecrets.org/orgs/progressive-turnout-project/summary?id=D000069975 

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00580068'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00580068', 'party_full'] = 'DEMOCRATIC PARTY'

In [59]:
# C00573261  (END CITIZENS UNITED):'DEMOCRATIC PARTY' https://www.opensecrets.org/political-action-committees-pacs/end-citizens-united/C00573261/candidate-recipients/2020

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00573261'
new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00573261', 'party_full'] = 'DEMOCRATIC PARTY'

In [60]:
# C00193433 (EMILYS LIST):'DEMOCRATIC PARTY' https://www.opensecrets.org/orgs/emily-s-list/recipients?id=d000000113

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00193433'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00193433', 'party_full'] = 'DEMOCRATIC PARTY'

In [61]:
# C00748228  (MARCH ON PAC):'DEMOCRATIC PARTY' 
# https://www.opensecrets.org/political-action-committees-pacs/march-on-pac/C00748228/candidate-recipients/2022

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00748228'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00748228', 'party_full'] = 'DEMOCRATIC PARTY'

In [62]:
# C00725820 (THE LINCOLN PROJECT):'DEMOCRATIC PARTY' 
# https://lincolnproject.us/

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00725820'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00725820', 'party_full'] = 'DEMOCRATIC PARTY'

C00096156 (HONEYWELL INTERNATIONAL POLITICAL ACTION COMMITTEE)::Support both parties
https://www.opensecrets.org/political-action-committees-pacs/honeywell-international/C00096156/summary/2022

In [63]:
# C00770214 (CHAMPION AMERICAN VALUES):'Republican Party'
# https://www.opensecrets.org/political-action-committees-pacs/champion-american-values/C00770214/summary/2022

#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00770214'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00770214', 'party_full'] = 'REPUBLICAN PARTY'

In [64]:
# C00693515 (FAIR FIGHT):'DEMOCRATIC PARTY' 
# https://www.opensecrets.org/political-action-committees-pacs/fair-fight-pac/C00693515/summary/2020

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00693515'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00693515', 'party_full'] = 'DEMOCRATIC PARTY'

In [65]:
# C00692319 (VPP):'DEMOCRATIC PARTY' 
# https://www.opensecrets.org/political-action-committees-pacs/voter-protection-project/C00692319/summary/2022


#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00692319'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00692319', 'party_full'] = 'DEMOCRATIC PARTY'

In [66]:
# C00718510 (OCCUPY DEMOCRATS ELECTION FUND):'DEMOCRATIC PARTY' 

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00718510'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00718510', 'party_full'] = 'DEMOCRATIC PARTY'

In [67]:
# C00633404 (STOP REPUBLICANS): Not sure. https://stoprepublicans.com/

In [68]:
# C00341396 (MOVEON.ORG POLITICAL ACTION): 'DEMOCRATIC PARTY'
# https://www.opensecrets.org/political-action-committees-pacs/moveon-org/C00341396/summary/2020


#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00341396'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00341396', 'party_full'] = 'DEMOCRATIC PARTY'

In [69]:
# C00830679  (TEAM ELISE): 'Republican Party' 
# https://secure.winred.com/team-elise/es_don_om_ga_cgs-spk_se_20231018/?utm_campaign=es_don_om_ga_cgs-spk_se_20231018&utm_source=ga&utm_medium=se&amount=25&utm_term=te_e&gclid=CjwKCAiAhJWsBhAaEiwAmrNyqwzF3isE8kjzbkMJLWAGe8UKVOhWMp4_kOebyGWa9emjs5xI3y_-shoCCEsQAvD_BwE

#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00830679'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00830679', 'party_full'] = 'REPUBLICAN PARTY'

In [70]:
# C00142711 (THE BOEING COMPANY POLITICAL ACTION COMMITTEE): Support both parties 
# https://www.opensecrets.org/political-action-committees-pacs/boeing-co/C00142711/candidate-recipients/2022

C00483883 (RETIRED AMERICANS PAC): not sure which party   https://retiredamericanspac.org/

In [71]:
# C00632398 (LET AMERICA VOTE PAC): 'DEMOCRATIC PARTY'
# https://www.opensecrets.org/political-action-committees-pacs/let-america-vote/C00632398/summary/2022

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00632398'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00632398', 'party_full'] = 'DEMOCRATIC PARTY'

In [72]:
# C00365536 (CHC BOLD PAC): 'DEMOCRATIC PARTY'
# https://www.opensecrets.org/political-action-committees-pacs/committee-for-hispanic-causes-bold-pac/C00365536/summary/2020
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00365536'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00365536', 'party_full'] = 'DEMOCRATIC PARTY'

In [73]:
# C00782599 (ELECT DIVERSE DEMOCRATS PAC): DEMOCRATS
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00782599'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00782599', 'party_full'] = 'DEMOCRATIC PARTY'

In [74]:
# C00765982 (STAND FOR AMERICA PAC):'Republican Party' 
# https://www.opensecrets.org/political-action-committees-pacs/stand-for-america-pac/C00765982/summary/2022
#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00765982'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00765982', 'party_full'] = 'REPUBLICAN PARTY'

In [75]:
# C00271338 (AMERIPAC: THE FUND FOR A GREATER AMERICA):'DEMOCRATIC PARTY'
# https://www.opensecrets.org/political-action-committees-pacs/ameripac-the-fund-for-a-greater-america/C00271338/summary/2022
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00271338'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00271338', 'party_full'] = 'DEMOCRATIC PARTY'

In [76]:
# C00753558 (DEMOCRATIC VICTORY PAC, INC.): DEMOCRATIC
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00753558'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00753558', 'party_full'] = 'DEMOCRATIC PARTY'

In [77]:
# C00836403 (TEAM EMMER): 'Republican Party'  https://www.opensecrets.org/jfc/summary.php?id=C00573444&cycle=2022 

#assign 'REPUBLICAN PARTY' to column 'party_full' for 'CMTE_ID' == 'C00836403'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00836403', 'party_full'] = 'REPUBLICAN PARTY'

In [78]:
# C00603084 (NATIONAL DEMOCRATIC TRAINING COMMITTEE PAC): DEMOCRATIC
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00603084'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00603084', 'party_full'] = 'DEMOCRATIC PARTY'

In [79]:
# C00088591 (EMPLOYEES OF NORTHROP GRUMMAN CORPORATION PAC): support both parties

In [80]:
# C00562983 (DEMOCRATIC ACTION):DEMOCRATIC
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00562983'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00562983', 'party_full'] = 'DEMOCRATIC PARTY'

In [81]:
# C00002089 (COMMUNICATIONS WORKERS OF AMERICA - COPE POLITICAL CONTRIBUTIONS COMMITTEE): DEMOCRATIC
# https://www.opensecrets.org/political-action-committees-pacs/communications-workers-of-america/C00002089/summary/2020
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00002089'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00002089', 'party_full'] = 'DEMOCRATIC PARTY'

In [82]:
# C00744946 (BIDEN VICTORY FUND):DEMOCRATIC
# https://www.opensecrets.org/jfc/summary.php?id=C00744946

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00744946'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00744946', 'party_full'] = 'DEMOCRATIC PARTY'

In [83]:
# C00745786 (DEMOCRATIC STRATEGY INSTITUTE): DEMOCRATIC

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00745786'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00745786', 'party_full'] = 'DEMOCRATIC PARTY'

In [84]:
# C00337733 (MASON TENDERS DISTRICT COUNCIL OF GREATER NEW YORK & LI PAC): DEMOCRATIC
# https://www.opensecrets.org/political-action-committees-pacs/mason-tenders-district-council-of-ny/C00337733/summary/2018
#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00337733'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00337733', 'party_full'] = 'DEMOCRATIC PARTY'

In [85]:
# C00238725 (NATIONAL AIR TRAFFIC CONTROLLERS ASSOCIATION PAC): majority to DEMOCRATIC
# https://www.opensecrets.org/political-action-committees-pacs/national-air-traffic-controllers-assn/C00238725/summary/2022

#assign 'DEMOCRATIC PARTY' to column 'party_full' for 'CMTE_ID' == 'C00238725'

new_df_2023.loc[new_df_2023['CMTE_ID'] == 'C00238725', 'party_full'] = 'DEMOCRATIC PARTY'

In [86]:
# C00248716 (COMCAST CORPORATION & NBCUNIVERSAL POLITICAL ACTION COMMITTEE - FEDERAL):support both parties equally

In [87]:
# replace 'DEMOCRATIC-FARMER-LABOR' with 'DEMOCRATIC PARTY' in column party_full 
#(since it is affiliated with the Democratic Party in the U.S.)

new_df_2023['party_full'].replace('DEMOCRATIC-FARMER-LABOR', 'DEMOCRATIC PARTY', inplace=True)

In [88]:
# after the updates above, recheck the null and party counts

new_df_2023.party_full.isnull().sum()

1671491

In [89]:
party_null_percentage_new = new_df_2023.party_full.isnull().sum()/len(new_df_2023)
party_null_percentage_new

0.1923084932470765

In [90]:
new_df_2023.party_full.value_counts()

DEMOCRATIC PARTY         3757716
REPUBLICAN PARTY         2895725
UNKNOWN                   208802
INDEPENDENT               100331
NONE                       50567
LIBERTARIAN PARTY           2853
OTHER                       1740
NEW PROGRESSIVE PARTY       1229
GREEN PARTY                  612
CONSTITUTION PARTY           338
NEW ALLIANCE                 165
UNAFFILIATED                  68
WRITE-IN                      22
NON-PARTY                     18
NO PARTY AFFILIATION          14
CONSTITUTIONAL                 8
REFORM PARTY                   7
COMMUNIST PARTY                7
CONSERVATIVE PARTY             4
Name: party_full, dtype: int64

In [91]:
party_percentage_new = new_df_2023.party_full.value_counts()/new_df_2023.party_full.count()
party_percentage_new

DEMOCRATIC PARTY         5.352699e-01
REPUBLICAN PARTY         4.124832e-01
UNKNOWN                  2.974292e-02
INDEPENDENT              1.429171e-02
NONE                     7.203044e-03
LIBERTARIAN PARTY        4.063972e-04
OTHER                    2.478553e-04
NEW PROGRESSIVE PARTY    1.750656e-04
GREEN PARTY              8.717668e-05
CONSTITUTION PARTY       4.814660e-05
NEW ALLIANCE             2.350352e-05
UNAFFILIATED             9.686298e-06
WRITE-IN                 3.133802e-06
NON-PARTY                2.564020e-06
NO PARTY AFFILIATION     1.994238e-06
CONSTITUTIONAL           1.139564e-06
REFORM PARTY             9.971189e-07
COMMUNIST PARTY          9.971189e-07
CONSERVATIVE PARTY       5.697822e-07
Name: party_full, dtype: float64

In [92]:
new_df_2023.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full
0,C00817940,LOS ANGELES,CA,900271058,NaN,NaN,1192023,800,NaN
1,C00817940,CULVER CITY,CA,902322403,NaN,NaN,1192023,250,NaN
2,C00817940,CHICAGO,IL,606114546,NaN,NaN,1202023,345,NaN
3,C00817940,ENCINO,CA,914361845,NaN,NaN,1192023,615,NaN
4,C00817940,POTOMAC,MD,208541640,NaN,NaN,1192023,5000,NaN

In [93]:
new_df_2023.shape

(8691717, 9)

# only keep rows where party_full value is Democratic party or Republican party (drop rows with all other values).

In [94]:
# only keep rows where party_full value is Democratic party or Republican party (drop rows with all other values).

df_2_party = new_df_2023[new_df_2023['party_full'].isin(['DEMOCRATIC PARTY', 'REPUBLICAN PARTY'])]

In [95]:
df_2_party.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full
8,C00806752,LAS VEGAS,NV,89107,NaN,NaN,4052022,580,REPUBLICAN PARTY
9,C00806752,LAS VEGAS,NV,89148,NaN,NaN,4102022,350,REPUBLICAN PARTY
10,C00806752,LAS VEGAS,NV,89107,NONE,RETIRED,4112022,480,REPUBLICAN PARTY
11,C00806752,LAS VEGAS,NV,89110,NONE,RETIRED,6302022,7709,REPUBLICAN PARTY
12,C00806372,PROVIDENCE,RI,029033050,NOT EMPLOYED,NOT EMPLOYED,1112023,64427,DEMOCRATIC PARTY

In [96]:
df_2_party['party_full'].isnull().sum()

0

In [97]:
df_2_party.shape

(6653441, 9)

In [98]:
df_2_party['party_full'].value_counts()

DEMOCRATIC PARTY    3757716
REPUBLICAN PARTY    2895725
Name: party_full, dtype: int64

In [99]:
df_2_party['party_full'].value_counts()/df_2_party.shape[0]

DEMOCRATIC PARTY    0.564778
REPUBLICAN PARTY    0.435222
Name: party_full, dtype: float64

# Creat a new column 'party_label'

In [112]:
# creat a new column 'party_label', assign ? to "DEMOCRATIC PARTY" and ? to "REPUBLICAN PARTY"

In [104]:
df_2_party.shape

(6653441, 10)

In [105]:
df_2_party.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6653441 entries, 8 to 8691716
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   CMTE_ID          object
 1   CITY             object
 2   STATE            object
 3   ZIP_CODE         object
 4   EMPLOYER         object
 5   OCCUPATION       object
 6   TRANSACTION_DT   int64
 7   TRANSACTION_AMT  int64
 8   party_full       object
 9   party_label      int64
dtypes: int64(3), object(7)
memory usage: 558.4+ MB

# Save df_2_party based on the original five txt files from the year of 2023 to a new CSV file named as 'df_2_party_5txt.csv' (exclude donor names, includes all dates, not just 2023).

In [108]:
# Save df_2_party based on the original five txt files from the year of 2023 to a new CSV file named as 
#'df_2_party_5txt.csv' (exclude donor names, includes all dates, not just 2023,)

# df_2_party.to_csv('df_2023_treat party_no_names.csv', index=False)

In [109]:
# df_2023 = pd.read_csv('df_2023_treat party_no_names.csv')

C:\Users\tubos\AppData\Local\Temp\ipykernel_11040\2380578302.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('df_2023_treat party_no_names.csv')

In [111]:
df_2023.columns

Index(['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION',
       'TRANSACTION_DT', 'TRANSACTION_AMT', 'party_full', 'party_label'],
      dtype='object')