What has been done in this notebook?
-- Treat the zipcode (RegionName) column in the houseprice file downloaded from zillow, get the column ZIPCODE5.
-- Treat the zipcode column in the donor file, get the column ZIPCODE5.
--  Merge the column '2023_average' from steps 2 to donor dataframe based on ZIPCODE5.
--  Treat the zipcode column in the household income file downloaded from IRB, get the column ZIPCODE5.
--  Merge the column 'AVERAGE_AGI_STUB' from steps 6 to donor dataframe based on ZIPCODE5.

In [1]:
import pandas as pd

# Generate 'house price' feature based on zipcode

# from zillow get the data of zipcode and allhome seasonally adjusted mid-tier price

In [2]:
#from https://www.zillow.com/research/data/ get the data of zipcode and allhome seasonally adjusted mid-tier price
dfzipcodehouse = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
dfzipcodehouse.info()
dfzipcodehouse.head()
# invalid zipcode as 8701 appeared

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26368 entries, 0 to 26367
Columns: 295 entries, RegionID to 2023-10-31
dtypes: float64(286), int64(3), object(6)
memory usage: 59.3+ MB

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209048.790580,...,471385.326722,470094.099251,469065.556757,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137886.463799,...,527727.482336,529947.403462,532846.215822,537015.420626,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102129.420943,...,278195.430561,275880.290491,274043.954520,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,150957.229387,...,504476.508141,497473.431981,491025.331919,484268.341352,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,100930.403886,...,270371.788379,268791.042726,267480.620986,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977

In [3]:
min_length = dfzipcodehouse['RegionName'].astype(str).str.len().min()
max_length = dfzipcodehouse['RegionName'].astype(str).str.len().max()
print(f"Minimum length: {min_length}, Maximum length: {max_length}")

Minimum length: 4, Maximum length: 5

In [5]:
dfzipcodehouse.info()
#RegionName is zipcode
dfzipcodehouse.RegionName.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26368 entries, 0 to 26367
Columns: 295 entries, RegionID to 2023-10-31
dtypes: float64(286), int64(3), object(6)
memory usage: 59.3+ MB

77494    1
12578    1
59523    1
49043    1
48467    1
        ..
32333    1
18252    1
7452     1
94507    1
52163    1
Name: RegionName, Length: 26368, dtype: int64

In [6]:
# get the average house price for mid-tier based on data from 2023 Jan. through 2023 OCt.

# Select the columns for the average calculation
columns_for_average = ['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31']

# Calculate the average for each row based on the selected columns
dfzipcodehouse['2023_average'] = dfzipcodehouse[columns_for_average].mean(axis=1)

In [7]:
dfzipcodehouse['2023_average'].head()

0    475322.866682
1    547407.096368
2    274389.970588
3    480122.007417
4    268240.291946
Name: 2023_average, dtype: float64

In [10]:
# Display rows where 'RegionName' starts with zero
zero_starting_regionname_rows = dfzipcodehouse[dfzipcodehouse['RegionName'].astype(str).str.startswith('0')]

# Print the rows
print("Rows where 'RegionName' starts with zero:")
print(zero_starting_regionname_rows.head())

Rows where 'RegionName' starts with zero:
Empty DataFrame
Columns: [RegionID, SizeRank, RegionName, RegionType, StateName, State, City, Metro, CountyName, 2000-01-31, 2000-02-29, 2000-03-31, 2000-04-30, 2000-05-31, 2000-06-30, 2000-07-31, 2000-08-31, 2000-09-30, 2000-10-31, 2000-11-30, 2000-12-31, 2001-01-31, 2001-02-28, 2001-03-31, 2001-04-30, 2001-05-31, 2001-06-30, 2001-07-31, 2001-08-31, 2001-09-30, 2001-10-31, 2001-11-30, 2001-12-31, 2002-01-31, 2002-02-28, 2002-03-31, 2002-04-30, 2002-05-31, 2002-06-30, 2002-07-31, 2002-08-31, 2002-09-30, 2002-10-31, 2002-11-30, 2002-12-31, 2003-01-31, 2003-02-28, 2003-03-31, 2003-04-30, 2003-05-31, 2003-06-30, 2003-07-31, 2003-08-31, 2003-09-30, 2003-10-31, 2003-11-30, 2003-12-31, 2004-01-31, 2004-02-29, 2004-03-31, 2004-04-30, 2004-05-31, 2004-06-30, 2004-07-31, 2004-08-31, 2004-09-30, 2004-10-31, 2004-11-30, 2004-12-31, 2005-01-31, 2005-02-28, 2005-03-31, 2005-04-30, 2005-05-31, 2005-06-30, 2005-07-31, 2005-08-31, 2005-09-30, 2005-10-31, 2005-11-30, 2005-12-31, 2006-01-31, 2006-02-28, 2006-03-31, 2006-04-30, 2006-05-31, 2006-06-30, 2006-07-31, 2006-08-31, 2006-09-30, 2006-10-31, 2006-11-30, 2006-12-31, 2007-01-31, 2007-02-28, 2007-03-31, 2007-04-30, 2007-05-31, 2007-06-30, 2007-07-31, ...]
Index: []

[0 rows x 296 columns]

In [11]:
# get rows where 'RegionName' has less than 5 digits

short_regionname_rows = dfzipcodehouse[dfzipcodehouse['RegionName'].astype(str).apply(len) < 5]

# Print the rows
print("Rows where 'RegionName' has less than 5 digits:")
print(short_regionname_rows.head(5))

Rows where 'RegionName' has less than 5 digits:
     RegionID  SizeRank  RegionName RegionType StateName State         City  \
1       61148         2        8701        zip        NJ    NJ     Lakewood
209     60565       215        7055        zip        NJ    NJ      Passaic
218     60642       224        7305        zip        NJ    NJ  Jersey City
242     58710       248        2301        zip        MA    MA     Brockton
257     60499       263        6902        zip        CT    CT     Stamford

                                     Metro        CountyName     2000-01-31  \
1    New York-Newark-Jersey City, NY-NJ-PA      Ocean County  137886.463799
209  New York-Newark-Jersey City, NY-NJ-PA    Passaic County  114654.793349
218  New York-Newark-Jersey City, NY-NJ-PA     Hudson County  157549.901238
242         Boston-Cambridge-Newton, MA-NH   Plymouth County  125137.126969
257        Bridgeport-Stamford-Norwalk, CT  Fairfield County            NaN

     ...     2023-02-28     2023-03-31     2023-04-30     2023-05-31  \
1    ...  529947.403462  532846.215822  537015.420626  542395.542666
209  ...  440873.248343  443795.917528  447664.095290  453029.813789
218  ...  456119.427239  458292.645632  459614.632325  462472.260806
242  ...  441356.883473  441839.651504  443379.429559  445900.834728
257  ...  461841.943320  463160.968647  466826.940958  470885.933169

        2023-06-30     2023-07-31     2023-08-31     2023-09-30  \
1    548357.302256  554489.247144  560407.160599  566757.356522
209  457635.195114  460300.278886  461216.954989  462309.782521
218  464877.782491  467913.726028  470832.435496  473871.316629
242  449041.844978  452764.428161  457277.279430  461245.258772
257  476307.537530  481929.851660  488160.192389  493556.890984

        2023-10-31   2023_average
1    574127.832246  547407.096368
209  464293.696798  453049.591423
218  476251.016665  464556.026656
242  464668.142592  449912.230619
257  497616.254895  476136.457095

[5 rows x 296 columns]

# After checking 'RegionName' (zipcode) values with less than 5 digits and their corresponding 'city' values, it is obvious that the leading zero for those zipcodes are missing. Thus, the leading zero was added next.

In [12]:
# Add leading zero to 'RegionName' values with exactly 4 digits
dfzipcodehouse['RegionName_add0'] = dfzipcodehouse['RegionName'].apply(lambda x: f'0{x}' if len(str(x)) == 4 else x)

# Print the updated DataFrame
print(dfzipcodehouse.head())

   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     61148         2        8701        zip        NJ    NJ  Lakewood
2     91940         3       77449        zip        TX    TX      Katy
3     62080         4       11368        zip        NY    NY  New York
4     91733         5       77084        zip        TX    TX   Houston

                                   Metro        CountyName     2000-01-31  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  209048.790580
1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  137886.463799
2   Houston-The Woodlands-Sugar Land, TX     Harris County  102129.420943
3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  150957.229387
4   Houston-The Woodlands-Sugar Land, TX     Harris County  100930.403886

   ...     2023-03-31     2023-04-30     2023-05-31     2023-06-30  \
0  ...  469065.556757  470268.040235  472257.943107  475361.948918
1  ...  532846.215822  537015.420626  542395.542666  548357.302256
2  ...  274043.954520  272863.082137  272388.856446  272763.356816
3  ...  491025.331919  484268.341352  477023.811433  471521.583059
4  ...  267480.620986  266697.212613  266556.111617  267147.680536

      2023-07-31     2023-08-31     2023-09-30     2023-10-31   2023_average  \
0  478138.444450  480601.210512  482411.387838  483644.709033  475322.866682
1  554489.247144  560407.160599  566757.356522  574127.832246  547407.096368
2  273515.337456  274401.485842  274929.000487  274918.911121  274389.970588
3  469663.049583  469656.984977  469088.685776  467022.345948  480122.007417
4  267982.228262  268846.207177  269269.787186  269260.239977  268240.291946

   RegionName_add0
0            77494
1            08701
2            77449
3            11368
4            77084

[5 rows x 297 columns]

In [13]:
# 'RegionName_add0' is the column after adding leading zeros
all_have_5_digits = all(dfzipcodehouse['RegionName_add0'].astype(str).apply(len) == 5)

# Print the result
print("All values in 'RegionName_add0' have 5 digits:", all_have_5_digits)

All values in 'RegionName_add0' have 5 digits: True

In [14]:
dfzipcodehouse['RegionName_add0'].isna().sum()

0

In [15]:
dfzipcodehouse['RegionName_add0'].dtype

dtype('O')

In [16]:
dfzipcodehouse['zipcode_datatype']=dfzipcodehouse.RegionName.map(lambda x: type(x))
dfzipcodehouse.zipcode_datatype.value_counts()
#price of house from zillow has 26368 zipcodes(each has one value)

<class 'int'>    26368
Name: zipcode_datatype, dtype: int64

# Treat the feature 'zip code' in the donor data.

In [17]:
df = pd.read_csv('df_2023_treat party_no_names.csv')

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\3355206029.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('df_2023_treat party_no_names.csv')

In [18]:
df.shape

(6653441, 10)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6653441 entries, 0 to 6653440
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   CMTE_ID          object
 1   CITY             object
 2   STATE            object
 3   ZIP_CODE         object
 4   EMPLOYER         object
 5   OCCUPATION       object
 6   TRANSACTION_DT   int64
 7   TRANSACTION_AMT  int64
 8   party_full       object
 9   party_label      int64
dtypes: int64(3), object(7)
memory usage: 507.6+ MB

In [22]:
min_length2 = df['ZIP_CODE'].astype(str).str.len().min()
max_length2 = df['ZIP_CODE'].astype(str).str.len().max()
print(f"Minimum length2: {min_length2}, Maximum length2: {max_length2}")

Minimum length2: 1, Maximum length2: 11

In [28]:
df.ZIP_CODE.isnull().sum()

8275

In [30]:
df['ZIP_CODE'].fillna('00000', inplace=True)

In [31]:
len(df.ZIP_CODE.value_counts())

905058

In [35]:
df['zipcode_datatype']=df.ZIP_CODE.map(lambda x: type(x))
df.zipcode_datatype.value_counts()

<class 'str'>      4261821
<class 'float'>    2391620
Name: zipcode_datatype, dtype: int64

In [36]:
#found some data from out of United states as ZIP_CODE == 'E145AA' in london 
#also found data from some other places
states=['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 
        'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR',
        'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY','DC']
df_us=df[df['STATE'].isin(states)]

In [37]:
df_us.ZIP_CODE.value_counts().head(20)

94611          5730
00000          5470
10025          5414
10023          5081
760405951.0    4736
019608572      4641
10024          3869
55384          3804
300402707.0    3611
20011          3542
480171279.0    3513
786665129      3229
48198          3219
85351          3117
760405951.0    3062
10011          2942
98668          2914
85253          2863
67204          2840
236932544.0    2801
Name: ZIP_CODE, dtype: int64

In [39]:
df.ZIP_CODE.count()-df_us.ZIP_CODE.count()

# There are 14455 df.ZIP_CODE not in US states.

14455

In [40]:
df_us.ZIP_CODE.isnull().sum()

0

In [194]:
df_us.drop('party_full', axis=1, inplace=True)

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\2864755282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us.drop('party_full', axis=1, inplace=True)

In [42]:
df_tmp = df_us[['ZIP_CODE','zipcode_datatype','CITY', 'STATE']]

In [43]:
df_tmp.head()

    ZIP_CODE zipcode_datatype        CITY STATE
0      89107    <class 'str'>   LAS VEGAS    NV
1      89148    <class 'str'>   LAS VEGAS    NV
2      89107    <class 'str'>   LAS VEGAS    NV
3      89110    <class 'str'>   LAS VEGAS    NV
4  029033050    <class 'str'>  PROVIDENCE    RI

In [44]:
df_tmp['ZIP_CODE_split'] = df_tmp['ZIP_CODE'].astype(str).str.split('.').str[0]

# Display the updated DataFrame
print(df_tmp[['ZIP_CODE', 'ZIP_CODE_split']].head())

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\2050393077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['ZIP_CODE_split'] = df_tmp['ZIP_CODE'].astype(str).str.split('.').str[0]

    ZIP_CODE ZIP_CODE_split
0      89107          89107
1      89148          89148
2      89107          89107
3      89110          89110
4  029033050      029033050

In [45]:
four_and_eight_digit_rows1 = df_tmp[df_tmp['ZIP_CODE'].astype(str).str.len().isin([4, 8])]

# Display the rows
print(four_and_eight_digit_rows1[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE','ZIP_CODE_split']].head(10))

        ZIP_CODE zipcode_datatype                 CITY STATE ZIP_CODE_split
544935  40244040    <class 'str'>         EAST BALDWIN    ME       40244040
720910      7040    <class 'str'>            MAPLEWOOD    NJ           7040
720917      1951    <class 'str'>              NEWBURY    MA           1951
720925      2568    <class 'str'>       VINEYARD HAVEN    MA           2568
720943      8759    <class 'str'>           MANCHESTER    NJ           8759
720976      1938    <class 'str'>              IPSWICH    MA           1938
720979      7421    <class 'str'>               HEWITT    NJ           7421
721120      3444    <class 'str'>               DUBLIN    NH           3444
721161      3301    <class 'str'>              CONCORD    NH           3301
721177      8742    <class 'str'>  POINT PLEASANT BORO    NJ           8742

In [46]:
len(four_and_eight_digit_rows1)

15079

#  Looked up zip codes via https://tools.usps.com/zip-code-lookup.htm?citybyzipcode and concluded that the leading zero is missing for above 4- and 8- digit zip codes. Next, adding the leading zero for these zip codes.

In [47]:
# add a leading zero to 4 or 8 digit zipcode.

df_tmp['ZIP_CODE_addo'] = df_tmp['ZIP_CODE_split'].astype(str).apply(lambda x: x.zfill(len(x) + 1) if len(x) == 4 or len(x) == 8 else x)

# Display the updated DataFrame
print(df_tmp[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE', 'ZIP_CODE_addo']].head(10))

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\1956342046.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['ZIP_CODE_addo'] = df_tmp['ZIP_CODE_split'].astype(str).apply(lambda x: x.zfill(len(x) + 1) if len(x) == 4 or len(x) == 8 else x)

    ZIP_CODE zipcode_datatype         CITY STATE ZIP_CODE_addo
0      89107    <class 'str'>    LAS VEGAS    NV         89107
1      89148    <class 'str'>    LAS VEGAS    NV         89148
2      89107    <class 'str'>    LAS VEGAS    NV         89107
3      89110    <class 'str'>    LAS VEGAS    NV         89110
4  029033050    <class 'str'>   PROVIDENCE    RI     029033050
5  112012170    <class 'str'>     BROOKLYN    NY     112012170
6  112012129    <class 'str'>     BROOKLYN    NY     112012129
7  209124128    <class 'str'>  TAKOMA PARK    MD     209124128
8  100280139    <class 'str'>     NEW YORK    NY     100280139
9      20874    <class 'str'>   DARNESTOWN    MD         20874

In [48]:
# df_tmp['ZIP_CODE_addo'] = df_tmp['ZIP_CODE'].astype(str).apply(lambda x: x.zfill(5) if len(x) == 4 or len(x) == 8 else x)

# # Display the updated DataFrame
# print(df_tmp[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE','ZIP_CODE_addo']].head(10))

In [49]:
four_and_eight_digit_rows2 = df_tmp[df_tmp['ZIP_CODE'].astype(str).str.len().isin([4, 8])]

# Display the rows
print(four_and_eight_digit_rows2[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE','ZIP_CODE_addo']].head(10))

        ZIP_CODE zipcode_datatype                 CITY STATE ZIP_CODE_addo
544935  40244040    <class 'str'>         EAST BALDWIN    ME     040244040
720910      7040    <class 'str'>            MAPLEWOOD    NJ         07040
720917      1951    <class 'str'>              NEWBURY    MA         01951
720925      2568    <class 'str'>       VINEYARD HAVEN    MA         02568
720943      8759    <class 'str'>           MANCHESTER    NJ         08759
720976      1938    <class 'str'>              IPSWICH    MA         01938
720979      7421    <class 'str'>               HEWITT    NJ         07421
721120      3444    <class 'str'>               DUBLIN    NH         03444
721161      3301    <class 'str'>              CONCORD    NH         03301
721177      8742    <class 'str'>  POINT PLEASANT BORO    NJ         08742

In [50]:
df_tmp.head()

    ZIP_CODE zipcode_datatype        CITY STATE ZIP_CODE_split ZIP_CODE_addo
0      89107    <class 'str'>   LAS VEGAS    NV          89107         89107
1      89148    <class 'str'>   LAS VEGAS    NV          89148         89148
2      89107    <class 'str'>   LAS VEGAS    NV          89107         89107
3      89110    <class 'str'>   LAS VEGAS    NV          89110         89110
4  029033050    <class 'str'>  PROVIDENCE    RI      029033050     029033050

In [52]:
four_and_eight_digit_rows3 = df_tmp[df_tmp['ZIP_CODE_addo'].astype(str).str.len().isin([4, 8])]

# Display the rows
print(four_and_eight_digit_rows3[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE','ZIP_CODE_addo']].head(10))

Empty DataFrame
Columns: [ZIP_CODE, zipcode_datatype, CITY, STATE, ZIP_CODE_addo]
Index: []

In [54]:
df_tmp['ZIP_CODE_addo_datatype'] = df_tmp['ZIP_CODE_addo'].apply(type)

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\3569742950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['ZIP_CODE_addo_datatype'] = df_tmp['ZIP_CODE_addo'].apply(type)

In [55]:
df_tmp.head()

,ZIP_CODE,zipcode_datatype,CITY,STATE,ZIP_CODE_split,ZIP_CODE_addo,ZIP_CODE_addo_datatype
0,89107,<class 'str'>,LAS VEGAS,NV,89107,89107,<class 'str'>
1,89148,<class 'str'>,LAS VEGAS,NV,89148,89148,<class 'str'>
2,89107,<class 'str'>,LAS VEGAS,NV,89107,89107,<class 'str'>
3,89110,<class 'str'>,LAS VEGAS,NV,89110,89110,<class 'str'>
4,029033050,<class 'str'>,PROVIDENCE,RI,029033050,029033050,<class 'str'>

In [56]:
df_tmp['ZIP_CODE_addo_datatype'].value_counts()

<class 'str'>    6638986
Name: ZIP_CODE_addo_datatype, dtype: int64

In [57]:
df_tmp.shape

(6638986, 7)

In [58]:
df_tmp['ZIP_CODE_addo'].isna().sum()

0

In [59]:
zip_codes_len_1_4 = df_tmp[df_tmp['ZIP_CODE_addo'].astype(str).apply(len).isin([1,2,3,4])]

# Display the unique values
unique_zip_codes_len_1_4 = zip_codes_len_1_4['ZIP_CODE_addo'].unique()
print(unique_zip_codes_len_1_4)

['56' '0' '764' '233' '282' '688' '662' '969' '12' '704' '42']

In [60]:
value_counts = df_tmp['ZIP_CODE_addo'].isin(['000', '56', '0', '764', '233', '282', '688', '662', '969', '12', '704', '42']).sum()
print(value_counts)

40

In [61]:
zip_codes_len_6_10 = df_tmp[df_tmp['ZIP_CODE_addo'].astype(str).apply(len).isin([6,7,8,10])]

# Display the unique values
unique_zip_codes_len_6_10 = zip_codes_len_6_10['ZIP_CODE_addo'].unique()
print(unique_zip_codes_len_6_10)

['900017' '1060046' 'NASSAU' 'V6N1H1' 'V4A1R6' '1076DZ' '110025' 'GU323NP'
 'SW73SS' 'E6C1P2' 'N1G1P2' 'K2S1P2' '9210806' '940027' '2200006'
 'D14NY71' '100000' '4910101' 'V8K2B8' '7510211' 'CA92637' 'V6G0C9'
 '921020']

In [62]:
value_counts_6_10 = df_tmp['ZIP_CODE_addo'].isin(['900017', '1060046', 'NASSAU', 'V6N1H1', 'V4A1R6', '1076DZ', '110025', 'GU323NP',
 'SW73SS', 'E6C1P2', 'N1G1P2', 'K2S1P2', '9210806', '940027', '2200006',
 'D14NY71', '100000', '4910101', 'V8K2B8' ,'7510211', 'CA92637', 'V6G0C9',
 '921020']).sum()
print(value_counts_6_10)

105

In [63]:
length_counts = df_tmp['ZIP_CODE_addo'].apply(len).isin([5, 9]).value_counts()
print(length_counts)

True     6638841
False        145
Name: ZIP_CODE_addo, dtype: int64

In [64]:
import re
def zipcode_transform(x):
    if pd.isna(x):
        return '99998'  # or any other suitable value for NaN
    elif isinstance(x, str):
        us_zip_code_pattern = r'^\d{5}(?:\d{4})?$'
        if re.match(us_zip_code_pattern, x):
            return x
        else:
            return '99998'  # or any other suitable value for invalid ZIP codes

In [65]:
zipcode_transform('356')

'99998'

In [66]:
df_tmp['zipcode_tf'] = df_tmp['ZIP_CODE_addo'].map(zipcode_transform)

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\2918085996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['zipcode_tf'] = df_tmp['ZIP_CODE_addo'].map(zipcode_transform)

In [67]:
df_tmp.ZIP_CODE.isna().sum()

0

In [68]:
df_tmp.zipcode_tf.isna().sum()

0

In [69]:
count_99998 = (df_tmp['zipcode_tf'] == '99998').sum()
count_99998

157

In [70]:
df_tmp['zipcode_tf'].count()-count_99998

6638829

In [71]:
# Display rows where 'zipcode_tf' is equal to 99998

zipcode_tf_99998_rows = df_tmp[df_tmp['zipcode_tf'] == '99998']
print("Rows where 'zipcode_tf' is equal to 99998:")
print(zipcode_tf_99998_rows.head())

Rows where 'zipcode_tf' is equal to 99998:
       ZIP_CODE zipcode_datatype            CITY STATE ZIP_CODE_split  \
514596   900017    <class 'str'>     LOS ANGELES    CA         900017
519528  1060046    <class 'str'>           TOKYO    NY        1060046
546352   NASSAU    <class 'str'>  NEW PROVIDENCE    CA         NASSAU
757818   V6N1H1    <class 'str'>       VANCOUVER    CA         V6N1H1
757821   V6N1H1    <class 'str'>       VANCOUVER    CA         V6N1H1

       ZIP_CODE_addo ZIP_CODE_addo_datatype zipcode_tf
514596        900017          <class 'str'>      99998
519528       1060046          <class 'str'>      99998
546352        NASSAU          <class 'str'>      99998
757818        V6N1H1          <class 'str'>      99998
757821        V6N1H1          <class 'str'>      99998

In [72]:
# Get data type counts for 'zipcode_tf' column
dtype_counts = df_tmp['zipcode_tf'].apply(type).value_counts()

# Display the data type counts
print(dtype_counts)

<class 'str'>    6638986
Name: zipcode_tf, dtype: int64

In [73]:
min_length_zipcode_tf = df_tmp['zipcode_tf'].astype(str).apply(len).min()
max_length_zipcode_tf = df_tmp['zipcode_tf'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length_zipcode_tf: {min_length_zipcode_tf}")
print(f"Maximum length_zipcode_tf: {max_length_zipcode_tf}")

Minimum length_zipcode_tf: 5
Maximum length_zipcode_tf: 9

In [74]:
# get the first 5 digits from the transformed zipcode.

df_tmp['zipcode5'] = df_tmp['zipcode_tf'].str[:5]

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\1295354496.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['zipcode5'] = df_tmp['zipcode_tf'].str[:5]

In [75]:
df_tmp['zipcode5'].head(10)

0    89107
1    89148
2    89107
3    89110
4    02903
5    11201
6    11201
7    20912
8    10028
9    20874
Name: zipcode5, dtype: object

In [76]:
four_and_eight_digit_rows2 = df_tmp[df_tmp['ZIP_CODE'].astype(str).str.len().isin([4, 8])]

# Display the rows
four_and_eight_digit_rows2[['ZIP_CODE', 'zipcode_datatype', 'CITY', 'STATE','ZIP_CODE_addo', 'zipcode5']].head(20)

,ZIP_CODE,zipcode_datatype,CITY,STATE,ZIP_CODE_addo,zipcode5
544935,40244040,<class 'str'>,EAST BALDWIN,ME,040244040,04024
720910,7040,<class 'str'>,MAPLEWOOD,NJ,07040,07040
720917,1951,<class 'str'>,NEWBURY,MA,01951,01951
720925,2568,<class 'str'>,VINEYARD HAVEN,MA,02568,02568
720943,8759,<class 'str'>,MANCHESTER,NJ,08759,08759
720976,1938,<class 'str'>,IPSWICH,MA,01938,01938
720979,7421,<class 'str'>,HEWITT,NJ,07421,07421
721120,3444,<class 'str'>,DUBLIN,NH,03444,03444
721161,3301,<class 'str'>,CONCORD,NH,03301,03301
721177,8742,<class 'str'>,POINT PLEASANT BORO,NJ,08742,08742
721224,8540,<class 'str'>,PRINCETON,NJ,08540,08540
721274,3057,<class 'str'>,MONT VERNON,NH,03057,03057
721280,6473,<class 'str'>,NORTH HAVEN,CT,06473,06473
721313,6424,<class 'str'>,EAST HAMPTON,CT,06424,06424
721334,6117,<class 'str'>,WEST HARTFORD,CT,06117,06117
721347,2493,<class 'str'>,WESTON,MA,02493,02493
721362,2571,<class 'str'>,WAREHAM,MA,02571,02571
721402,1938,<class 'str'>,IPSWICH,MA,01938,01938
721403,1938,<class 'str'>,IPSWICH,MA,01938,01938
721404,1938,<class 'str'>,IPSWICH,MA,01938,01938

In [77]:
df_tmp.zipcode5.isna().sum()

0

In [78]:
# Display rows where 'zipcode5' is NaN
missing_zipcode_rows = df_tmp[df_tmp['zipcode5'].isna()]
print("Rows where 'zipcode5' is NaN:")
print(missing_zipcode_rows[['zipcode_tf', 'zipcode5']].head())

Rows where 'zipcode5' is NaN:
Empty DataFrame
Columns: [zipcode_tf, zipcode5]
Index: []

# Here, the length for all df_tmp['zipcode5'] values are 5.

In [79]:
min_length = df_tmp['zipcode5'].astype(str).apply(len).min()
max_length = df_tmp['zipcode5'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length}")
print(f"Maximum length: {max_length}")

Minimum length: 5
Maximum length: 5

In [80]:
df_tmp.shape

(6638986, 9)

In [81]:
df_us.shape

(6638986, 11)

In [82]:
df_us['ZIP_CODE'].isna().sum()

0

In [83]:
df_us.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full,party_label,zipcode_datatype
0,C00806752,LAS VEGAS,NV,89107,NaN,NaN,4052022,580,REPUBLICAN PARTY,0,<class 'str'>
1,C00806752,LAS VEGAS,NV,89148,NaN,NaN,4102022,350,REPUBLICAN PARTY,0,<class 'str'>
2,C00806752,LAS VEGAS,NV,89107,NONE,RETIRED,4112022,480,REPUBLICAN PARTY,0,<class 'str'>
3,C00806752,LAS VEGAS,NV,89110,NONE,RETIRED,6302022,7709,REPUBLICAN PARTY,0,<class 'str'>
4,C00806372,PROVIDENCE,RI,029033050,NOT EMPLOYED,NOT EMPLOYED,1112023,64427,DEMOCRATIC PARTY,1,<class 'str'>

In [84]:
df_us['ZIPCODE5'] = df_tmp['zipcode5']

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\404374983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['ZIPCODE5'] = df_tmp['zipcode5']

In [86]:
df_us['ZIPCODE5'].isna().sum()

0

In [87]:
df_us['ZIPCODE5'].dtype

dtype('O')

In [89]:
min_length_df_us = df_us['ZIPCODE5'].astype(str).apply(len).min()
max_length_df_us = df_us['ZIPCODE5'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_df_us}")
print(f"Maximum length: {max_length_df_us}")

Minimum length: 5
Maximum length: 5

# Merge house price column to the main df based on ZIPCODE5

In [90]:
dfzipcodehouse.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023_average,RegionName_add0,zipcode_datatype
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209048.790580,...,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033,475322.866682,77494,<class 'int'>
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137886.463799,...,537015.420626,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246,547407.096368,08701,<class 'int'>
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102129.420943,...,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121,274389.970588,77449,<class 'int'>
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,150957.229387,...,484268.341352,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948,480122.007417,11368,<class 'int'>
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,100930.403886,...,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977,268240.291946,77084,<class 'int'>

In [91]:
# 'RegionName' contains zipcodes. 'RegionName_add0' contains treated zipcodes

dfzipcodehouse['ZIPCODE5'] = dfzipcodehouse['RegionName_add0']

In [92]:
min_length_dfzipcodehouses = dfzipcodehouse['ZIPCODE5'].astype(str).apply(len).min()
max_length_dfzipcodehouse = dfzipcodehouse['ZIPCODE5'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_dfzipcodehouses}")
print(f"Maximum length: {max_length_dfzipcodehouse}")

Minimum length: 5
Maximum length: 5

In [93]:
dfzipcodehouse.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023_average,RegionName_add0,zipcode_datatype,ZIPCODE5
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209048.790580,...,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033,475322.866682,77494,<class 'int'>,77494
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137886.463799,...,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246,547407.096368,08701,<class 'int'>,08701
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102129.420943,...,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121,274389.970588,77449,<class 'int'>,77449
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,150957.229387,...,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948,480122.007417,11368,<class 'int'>,11368
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,100930.403886,...,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977,268240.291946,77084,<class 'int'>,77084

In [94]:
# Merge based on 'df_us.ZIPCODE5' and 'dfzipcodehouse['ZIPCODE5']'

# Convert 'ZIPCODE5' column to the same dtype before merging
df_us['ZIPCODE5'] = df_us['ZIPCODE5'].astype(str)
dfzipcodehouse['ZIPCODE5'] = dfzipcodehouse['ZIPCODE5'].astype(str)

df_us_houseprice= pd.merge(df_us, dfzipcodehouse[['ZIPCODE5', '2023_average']], on='ZIPCODE5', how='left')

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\2319003913.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['ZIPCODE5'] = df_us['ZIPCODE5'].astype(str)

In [95]:
# Check NA value counts in df_us['ZIPCODE5'] after convert this column to str
print("NA value counts in df_us['ZIPCODE5']:")
print(df_us['ZIPCODE5'].isna().sum())

NA value counts in df_us['ZIPCODE5']:
0

In [96]:
df_us_houseprice.head(10)

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full,party_label,zipcode_datatype,ZIPCODE5,2023_average
0,C00806752,LAS VEGAS,NV,89107,NaN,NaN,4052022,580,REPUBLICAN PARTY,0,<class 'str'>,89107,3.205190e+05
1,C00806752,LAS VEGAS,NV,89148,NaN,NaN,4102022,350,REPUBLICAN PARTY,0,<class 'str'>,89148,4.490541e+05
2,C00806752,LAS VEGAS,NV,89107,NONE,RETIRED,4112022,480,REPUBLICAN PARTY,0,<class 'str'>,89107,3.205190e+05
3,C00806752,LAS VEGAS,NV,89110,NONE,RETIRED,6302022,7709,REPUBLICAN PARTY,0,<class 'str'>,89110,3.266159e+05
4,C00806372,PROVIDENCE,RI,029033050,NOT EMPLOYED,NOT EMPLOYED,1112023,64427,DEMOCRATIC PARTY,1,<class 'str'>,02903,3.765648e+05
5,C00796540,BROOKLYN,NY,112012170,NaN,NaN,1102023,800,DEMOCRATIC PARTY,1,<class 'str'>,11201,1.241503e+06
6,C00796540,BROOKLYN,NY,112012129,NaN,NaN,1102023,800,DEMOCRATIC PARTY,1,<class 'str'>,11201,1.241503e+06
7,C00796540,TAKOMA PARK,MD,209124128,NaN,NaN,1052023,1000,DEMOCRATIC PARTY,1,<class 'str'>,20912,6.632729e+05
8,C00796540,NEW YORK,NY,100280139,NaN,NaN,1052023,1000,DEMOCRATIC PARTY,1,<class 'str'>,10028,1.339272e+06
9,C00765560,DARNESTOWN,MD,20874,NaN,NaN,10192022,2800,DEMOCRATIC PARTY,1,<class 'str'>,20874,3.985539e+05

In [97]:
df_us_houseprice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6638986 entries, 0 to 6638985
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   CMTE_ID           object
 1   CITY              object
 2   STATE             object
 3   ZIP_CODE          object
 4   EMPLOYER          object
 5   OCCUPATION        object
 6   TRANSACTION_DT    int64
 7   TRANSACTION_AMT   int64
 8   party_full        object
 9   party_label       int64
 10  zipcode_datatype  object
 11  ZIPCODE5          object
 12  2023_average      float64
dtypes: float64(1), int64(3), object(9)
memory usage: 709.1+ MB

In [98]:
df_us_houseprice['2023_average'].count()

6487883

In [99]:
df_us_houseprice['2023_average'].isnull().sum()

151103

In [100]:
df_us_houseprice['2023_average'].isnull().sum()/df_us_houseprice.shape[0]

0.022759951595017675

In [101]:
df_us_houseprice['ZIPCODE5'].isna().sum()

0

In [102]:
min_length_df_us_houseprice = df_us_houseprice['ZIPCODE5'].astype(str).apply(len).min()
max_length_df_us_houseprice = df_us_houseprice['ZIPCODE5'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_df_us_houseprice}")
print(f"Maximum length: {max_length_df_us_houseprice}")

Minimum length: 5
Maximum length: 5

In [103]:
# Display rows where the length of values in the 'ZIPCODE5' column is equal to 1
result_df_df_us_houseprice = df_us_houseprice[df_us_houseprice['ZIPCODE5'].apply(lambda x: len(str(x)) == 1)]

# Display the result
result_df_df_us_houseprice.head(10)

Empty DataFrame
Columns: [CMTE_ID, CITY, STATE, ZIP_CODE, EMPLOYER, OCCUPATION, TRANSACTION_DT, TRANSACTION_AMT, party_full, party_label, zipcode_datatype, ZIPCODE5, 2023_average]
Index: []

In [104]:
# Display rows where the length of values in the 'ZIPCODE5' column is equal to 1
result_df_df_us_houseprice_2 = df_us_houseprice[df_us_houseprice['ZIPCODE5'].apply(lambda x: len(str(x)) == 2)]

# Display the result
result_df_df_us_houseprice_2.head(10)

Empty DataFrame
Columns: [CMTE_ID, CITY, STATE, ZIP_CODE, EMPLOYER, OCCUPATION, TRANSACTION_DT, TRANSACTION_AMT, party_full, party_label, zipcode_datatype, ZIPCODE5, 2023_average]
Index: []

In [105]:
# Get unique values for different lengths in the 'ZIPCODE5' column
unique_lengths = df_us_houseprice['ZIPCODE5'].apply(lambda x: len(str(x))).unique()

# Display the unique lengths
print("Unique lengths of ZIPCODE5 values:", unique_lengths)

Unique lengths of ZIPCODE5 values: [5]

In [106]:
# # Iterate over lengths from 1 to 5
# for length in range(1, 6):
#     unique_values_df_us_houseprice = df_us_houseprice['ZIPCODE5'].astype(str).apply(lambda x: x[:length]).unique()
    
#     print(f"Unique values for length {length}:")
#     print(unique_values_df_us_houseprice)
#     print()

# Generate the new feature 'average household income' from zip code

In [107]:
df_zip_income = pd.read_csv('../20zpallagi.csv')

# 20zpallagi.csv downloaded from https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2020-zip-code-data-soi

In [108]:
df_zip_income.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,785000.0,519980.0,85690.0,165290.0,724170.0,22560.0,...,0.0,0.0,57720.0,46577.0,674840.0,1827202.0,672200.0,1818867.0,2900.0,6089.0
1,1,AL,0,2,554310.0,270870.0,121420.0,146470.0,515150.0,13260.0,...,0.0,0.0,81770.0,112540.0,470410.0,1445383.0,466960.0,1432458.0,4660.0,11648.0
2,1,AL,0,3,290630.0,113280.0,124770.0,44570.0,269700.0,6420.0,...,0.0,0.0,70360.0,144380.0,220710.0,626662.0,216530.0,610170.0,5760.0,16235.0
3,1,AL,0,4,181010.0,42010.0,120820.0,14410.0,168830.0,2570.0,...,0.0,0.0,49500.0,135429.0,130670.0,437179.0,126790.0,419324.0,3730.0,14903.0
4,1,AL,0,5,269080.0,31310.0,224330.0,8270.0,252360.0,3250.0,...,100.0,20.0,103250.0,470206.0,165650.0,724529.0,156910.0,642895.0,11280.0,80064.0

In [109]:
df_zip_income.iloc[6:15,0:15]

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,PREP,DIR_DEP,VRTCRIND,N2,TOTAL_VITA
6,1,AL,35004,1,1460.0,1010.0,200.0,210.0,1340.0,40.0,630.0,1110.0,0.0,1990.0,20.0
7,1,AL,35004,2,1400.0,760.0,280.0,310.0,1310.0,40.0,620.0,1120.0,30.0,2400.0,0.0
8,1,AL,35004,3,1020.0,460.0,350.0,190.0,970.0,30.0,460.0,750.0,0.0,1970.0,0.0
9,1,AL,35004,4,630.0,140.0,420.0,60.0,590.0,0.0,310.0,430.0,20.0,1500.0,0.0
10,1,AL,35004,5,810.0,80.0,710.0,20.0,760.0,20.0,390.0,500.0,0.0,2260.0,0.0
11,1,AL,35004,6,100.0,0.0,100.0,0.0,90.0,0.0,60.0,40.0,0.0,280.0,0.0
12,1,AL,35005,1,1380.0,860.0,140.0,350.0,1260.0,60.0,700.0,1100.0,30.0,2140.0,30.0
13,1,AL,35005,2,1120.0,520.0,190.0,370.0,1040.0,0.0,580.0,900.0,0.0,2080.0,0.0
14,1,AL,35005,3,510.0,190.0,170.0,130.0,460.0,30.0,290.0,360.0,0.0,1000.0,0.0

In [110]:
df_zip_income.STATE.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [111]:
df_zip_income.STATE.isnull().sum()

0

# Based on the 20zpdoc document, agi_stub column shows Size of adjusted gross income. 
1 = $1  under $25,000

2 = $25,000  under $50,000

3 = $50,000  under $75,000

4 = $75,000  under $100,000

5 = $100,000  under $200,000

6 = $200,000 or more

Note:  20zpdoc document is downloaded from https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2020-zip-code-data-soi 

N1: Number of returns

MARS1: Number of single returns,	  Filing status is single

MARS2: Number of joint returns,	  Filing status is married filing jointly

MARS4: Number of head of household returns,	  Filing status is head of household

# N1 >= MARS1 + MARS2 + MARS4

In the United States, the tax filing status options include:

Single: Unmarried individuals who are not qualifying for any other filing status.

Married Filing Jointly: Married couples can choose to file a joint tax return, combining their income and deductions.

Married Filing Separately: Married couples can choose to file separate tax returns, reporting their own individual incomes and deductions.

Head of Household: This status is typically for unmarried individuals who provide a home for a qualifying person, such as a child or relative, and meet certain criteria.

Qualifying Widow(er) with Dependent Child: This filing status may apply to a surviving spouse for a limited period after the death of their spouse, provided they have a dependent child and meet certain criteria.

# ZIP codes with less than 100 returns and those identified as a single building or nonresidential ZIP code were categorized as â€œotherâ€ (99999).

In [112]:
df_zip_income.shape

(166452, 165)

In [113]:
type(df_zip_income['zipcode'][0])

numpy.int64

In [114]:
# Calculate the length of each ZIP code and get the min and max lengths
min_length_df_zip_income = df_zip_income['zipcode'].astype(str).apply(len).min()
max_length_df_zip_income = df_zip_income['zipcode'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_df_zip_income}")
print(f"Maximum length: {max_length_df_zip_income}")

Minimum length: 1
Maximum length: 5

In [115]:
# Create 'zipcode_length' column to store the length of each ZIP code
df_zip_income['zipcode_length'] = df_zip_income['zipcode'].astype(str).apply(len)

# Get value counts for each length
length_value_counts = df_zip_income.groupby('zipcode_length').size()

# Display the value counts
print(length_value_counts)

zipcode_length
1       306
4     13128
5    153018
dtype: int64

In [116]:
# Drop rows where 'zipcode_length' is equal to 1
df_zip_income = df_zip_income[df_zip_income['zipcode_length'] != 1]

# Display the DataFrame after dropping rows
print(df_zip_income.head(10))

    STATEFIPS STATE  zipcode  agi_stub      N1   mars1  MARS2  MARS4     ELF  \
6           1    AL    35004         1  1460.0  1010.0  200.0  210.0  1340.0
7           1    AL    35004         2  1400.0   760.0  280.0  310.0  1310.0
8           1    AL    35004         3  1020.0   460.0  350.0  190.0   970.0
9           1    AL    35004         4   630.0   140.0  420.0   60.0   590.0
10          1    AL    35004         5   810.0    80.0  710.0   20.0   760.0
11          1    AL    35004         6   100.0     0.0  100.0    0.0    90.0
12          1    AL    35005         1  1380.0   860.0  140.0  350.0  1260.0
13          1    AL    35005         2  1120.0   520.0  190.0  370.0  1040.0
14          1    AL    35005         3   510.0   190.0  170.0  130.0   460.0
15          1    AL    35005         4   220.0    50.0  130.0   50.0   190.0

    CPREP  ...  A85300  N11901  A11901  N11900  A11900  N11902  A11902  \
6    40.0  ...     0.0   110.0    80.0  1210.0  2807.0  1210.0  2795.0
7    40.0  ...     0.0   190.0   194.0  1210.0  3378.0  1200.0  3335.0
8    30.0  ...     0.0   230.0   357.0   800.0  2131.0   790.0  2119.0
9     0.0  ...     0.0   180.0   386.0   450.0  1282.0   440.0  1276.0
10   20.0  ...     0.0   290.0  1124.0   530.0  1967.0   510.0  1925.0
11    0.0  ...    68.0    50.0  1189.0    50.0   857.0    40.0   426.0
12   60.0  ...     0.0   100.0    82.0  1200.0  3598.0  1200.0  3594.0
13    0.0  ...     0.0   160.0   197.0   950.0  3106.0   950.0  3106.0
14   30.0  ...     0.0   120.0   236.0   390.0  1030.0   380.0  1029.0
15    0.0  ...     0.0    60.0   174.0   160.0   502.0   160.0   500.0

    N12000  A12000  zipcode_length
6      0.0     0.0               5
7     30.0    62.0               5
8      0.0     0.0               5
9      0.0     0.0               5
10    20.0   139.0               5
11     0.0     0.0               5
12     0.0     0.0               5
13     0.0     0.0               5
14     0.0     0.0               5
15     0.0     0.0               5

[10 rows x 166 columns]

In [117]:
# Get value counts for each length
length_value_counts_new = df_zip_income.groupby('zipcode_length').size()

# Display the value counts
print(length_value_counts_new)

zipcode_length
4     13128
5    153018
dtype: int64

In [118]:
total_zeros = (df_zip_income['zipcode'] == 0).sum()
total_zeros

0

In [119]:
total_99999 = (df_zip_income['zipcode'] == 99999).sum()
total_99999

306

In [120]:
len(df_zip_income['zipcode'].unique())

27643

In [121]:
df_zip_income['zipcode_str'] = df_zip_income['zipcode'].astype(str)

In [122]:
print(df_zip_income['zipcode_str'].dtype)

object

In [123]:
three_digit_rows = df_zip_income[df_zip_income['zipcode'].astype(str).str.len() == 3]
# Display the rows
print(len(three_digit_rows))
print("Rows where 'zipcode' has exactly 3 digits:")
print(three_digit_rows.head(15))

0
Rows where 'zipcode' has exactly 3 digits:
Empty DataFrame
Columns: [STATEFIPS, STATE, zipcode, agi_stub, N1, mars1, MARS2, MARS4, ELF, CPREP, PREP, DIR_DEP, VRTCRIND, N2, TOTAL_VITA, VITA, TCE, VITA_EIC, RAC, ELDERLY, A00100, N02650, A02650, N00200, A00200, N00300, A00300, N00600, A00600, N00650, A00650, N00700, A00700, N00900, A00900, N01000, A01000, N01400, A01400, N01700, A01700, SCHF, N02300, A02300, N02500, A02500, N26270, A26270, N02900, A02900, N03220, A03220, N03300, A03300, N03270, A03270, N03150, A03150, N03210, A03210, N02910, A02910, N04450, A04450, N04100, A04100, N04200, A04200, N04470, A04470, A00101, N17000, A17000, N18425, A18425, N18450, A18450, N18500, A18500, N18800, A18800, N18460, A18460, N18300, A18300, N19300, A19300, N19500, A19500, N19530, A19530, N19550, A19550, N19570, A19570, N19700, A19700, N20950, A20950, N04475, ...]
Index: []

[0 rows x 167 columns]

In [124]:
four_digit_rows = df_zip_income[df_zip_income['zipcode'].astype(str).str.len() == 4]

# Display the rows
print(len(four_digit_rows))
print("Rows where 'zipcode' has exactly 4 digits:")
print(four_digit_rows.head(15))

13128
Rows where 'zipcode' has exactly 4 digits:
       STATEFIPS STATE  zipcode  agi_stub      N1   mars1   MARS2   MARS4  \
19804          9    CT     6001         1  1960.0  1710.0   160.0    70.0
19805          9    CT     6001         2  1070.0   770.0   180.0    90.0
19806          9    CT     6001         3  1030.0   630.0   260.0   100.0
19807          9    CT     6001         4   880.0   370.0   390.0   100.0
19808          9    CT     6001         5  2120.0   470.0  1510.0   100.0
19809          9    CT     6001         6  2310.0   160.0  2060.0    60.0
19810          9    CT     6002         1  3320.0  2680.0   220.0   330.0
19811          9    CT     6002         2  3110.0  1900.0   310.0   770.0
19812          9    CT     6002         3  2250.0  1240.0   380.0   510.0
19813          9    CT     6002         4  1400.0   640.0   450.0   250.0
19814          9    CT     6002         5  1950.0   600.0  1150.0   160.0
19815          9    CT     6002         6   720.0   160.0   530.0     0.0
19816          9    CT     6010         1  9220.0  7120.0   790.0  1170.0
19817          9    CT     6010         2  8340.0  5200.0  1200.0  1720.0
19818          9    CT     6010         3  5370.0  2970.0  1410.0   810.0

          ELF  CPREP  ...  N11901   A11901  N11900   A11900  N11902   A11902  \
19804  1760.0   70.0  ...   190.0    142.0  1480.0   2388.0  1450.0   2200.0
19805   990.0   30.0  ...   190.0    298.0   860.0   2539.0   820.0   2288.0
19806   960.0   50.0  ...   230.0    516.0   800.0   2417.0   740.0   2144.0
19807   820.0    0.0  ...   240.0    708.0   630.0   2378.0   570.0   2080.0
19808  1980.0   50.0  ...   730.0   2913.0  1390.0   7412.0  1210.0   5680.0
19809  2170.0   40.0  ...  1170.0  26848.0  1130.0  22968.0   820.0   9797.0
19810  3010.0  130.0  ...   220.0    194.0  2840.0   5685.0  2820.0   5636.0
19811  2890.0  100.0  ...   410.0    569.0  2680.0   7501.0  2640.0   7351.0
19812  2090.0   70.0  ...   470.0    799.0  1770.0   5208.0  1740.0   5003.0
19813  1300.0   30.0  ...   360.0    868.0  1030.0   3487.0   990.0   3190.0
19814  1800.0   50.0  ...   720.0   2762.0  1220.0   5560.0  1100.0   4523.0
19815   660.0    0.0  ...   360.0  10661.0   350.0   8072.0   230.0   3167.0
19816  8580.0  320.0  ...   610.0    468.0  8000.0  16606.0  7980.0  16515.0
19817  7930.0  210.0  ...   870.0   1122.0  7430.0  19822.0  7390.0  19705.0
19818  5130.0  120.0  ...   870.0   1568.0  4490.0  11916.0  4450.0  11735.0

       N12000   A12000  zipcode_length  zipcode_str
19804    40.0     74.0               4         6001
19805    70.0    250.0               4         6001
19806    80.0    273.0               4         6001
19807    70.0    298.0               4         6001
19808   230.0   1732.0               4         6001
19809   370.0  13171.0               4         6001
19810    30.0     40.0               4         6002
19811    60.0    150.0               4         6002
19812    70.0    205.0               4         6002
19813    80.0    297.0               4         6002
19814   160.0   1038.0               4         6002
19815   150.0   4905.0               4         6002
19816    40.0     73.0               4         6010
19817    60.0    117.0               4         6010
19818    60.0    181.0               4         6010

[15 rows x 167 columns]

# After examing the data with 4 digits for 'zopcode', it is clear that many Connecticut ZIP Codes have a leading zero, however, df_zip_income['zipcode'] does not have the leading zero for those zip codes. Thus, adding the leading zero to 4 digits 'zopcode'.

In [125]:
df_zip_income['zipcode_add0'] = df_zip_income['zipcode'].astype(str).apply(lambda x: x.zfill(5) if len(x) == 4 else x)

In [126]:
four_digit_rows = df_zip_income[df_zip_income['zipcode_add0'].astype(str).str.len() == 4]

# Display the rows
print("Rows where 'zipcode' has exactly 4 digits:")
print(four_digit_rows.head(60))

Rows where 'zipcode' has exactly 4 digits:
Empty DataFrame
Columns: [STATEFIPS, STATE, zipcode, agi_stub, N1, mars1, MARS2, MARS4, ELF, CPREP, PREP, DIR_DEP, VRTCRIND, N2, TOTAL_VITA, VITA, TCE, VITA_EIC, RAC, ELDERLY, A00100, N02650, A02650, N00200, A00200, N00300, A00300, N00600, A00600, N00650, A00650, N00700, A00700, N00900, A00900, N01000, A01000, N01400, A01400, N01700, A01700, SCHF, N02300, A02300, N02500, A02500, N26270, A26270, N02900, A02900, N03220, A03220, N03300, A03300, N03270, A03270, N03150, A03150, N03210, A03210, N02910, A02910, N04450, A04450, N04100, A04100, N04200, A04200, N04470, A04470, A00101, N17000, A17000, N18425, A18425, N18450, A18450, N18500, A18500, N18800, A18800, N18460, A18460, N18300, A18300, N19300, A19300, N19500, A19500, N19530, A19530, N19550, A19550, N19570, A19570, N19700, A19700, N20950, A20950, N04475, ...]
Index: []

[0 rows x 168 columns]

In [127]:
df_zip_income['zipcode_add0'].dtype

dtype('O')

In [128]:
df_zip_income_new = df_zip_income[['STATE','zipcode_add0','agi_stub','N1']]
df_zip_income_new.head(13)

   STATE zipcode_add0  agi_stub      N1
6     AL        35004         1  1460.0
7     AL        35004         2  1400.0
8     AL        35004         3  1020.0
9     AL        35004         4   630.0
10    AL        35004         5   810.0
11    AL        35004         6   100.0
12    AL        35005         1  1380.0
13    AL        35005         2  1120.0
14    AL        35005         3   510.0
15    AL        35005         4   220.0
16    AL        35005         5   190.0
17    AL        35005         6    20.0
18    AL        35006         1   400.0

In [129]:
min_length_df_zip_income_new = df_zip_income_new['zipcode_add0'].astype(str).apply(len).min()
max_length_df_zip_income_new = df_zip_income_new['zipcode_add0'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_df_zip_income_new}")
print(f"Maximum length: {max_length_df_zip_income_new}")

Minimum length: 5
Maximum length: 5

In [130]:
# # Iterate over lengths from 1 to 5
# for length in range(1, 6):
#     unique_values_df_zip_income_new = df_zip_income_new['zipcode_add0'].astype(str).apply(lambda x: x[:length]).unique()
    
#     print(f"Unique values for length {length}:")
#     print(unique_values_df_zip_income_new)
#     print()

# Get average income for zipcode:
1. use the midpoint of each income range to represent the gross income (AGI_STUB column).
2. midpoint * number of returns (N1) = INCOME_MULTIPLIED
3. AVERAGE_AGI_STUB = sum of (INCOME_MULTIPLIED *N1)/sum of N1 (sum based on zip code)

In [131]:
# Create a mapping dictionary for gross income categories
income_mapping = {
    1: 12500,
    2: 37500,
    3: 62500,
    4: 87500,
    5: 150000,
    6: 1000000
}

# Map the 'GROSS_INCOME' column to the midpoint of each income range
df_zip_income_new['MIDPOINT_INCOME'] = df_zip_income_new['agi_stub'].map(income_mapping)

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\3598522466.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zip_income_new['MIDPOINT_INCOME'] = df_zip_income_new['agi_stub'].map(income_mapping)

In [132]:
df_zip_income_new.head(10)

   STATE zipcode_add0  agi_stub      N1  MIDPOINT_INCOME
6     AL        35004         1  1460.0            12500
7     AL        35004         2  1400.0            37500
8     AL        35004         3  1020.0            62500
9     AL        35004         4   630.0            87500
10    AL        35004         5   810.0           150000
11    AL        35004         6   100.0          1000000
12    AL        35005         1  1380.0            12500
13    AL        35005         2  1120.0            37500
14    AL        35005         3   510.0            62500
15    AL        35005         4   220.0            87500

In [133]:
df_zip_income_new.columns

Index(['STATE', 'zipcode_add0', 'agi_stub', 'N1', 'MIDPOINT_INCOME'], dtype='object')

In [134]:
# Calculate the product of MIDPOINT_INCOME and Number of return

df_zip_income_new['INCOME_MULTIPLIED'] = df_zip_income_new['MIDPOINT_INCOME'] * df_zip_income_new['N1']
df_zip_income_new.head()

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\3181870962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zip_income_new['INCOME_MULTIPLIED'] = df_zip_income_new['MIDPOINT_INCOME'] * df_zip_income_new['N1']

   STATE zipcode_add0  agi_stub      N1  MIDPOINT_INCOME  INCOME_MULTIPLIED
6     AL        35004         1  1460.0            12500         18250000.0
7     AL        35004         2  1400.0            37500         52500000.0
8     AL        35004         3  1020.0            62500         63750000.0
9     AL        35004         4   630.0            87500         55125000.0
10    AL        35004         5   810.0           150000        121500000.0

In [135]:
filtered_rows = df_zip_income_new[
    (df_zip_income_new['zipcode_add0'].astype(str).str.startswith('0')) & 
    (df_zip_income_new['zipcode_add0'].astype(str).str.len() > 1)
]

# Select specific columns
result = filtered_rows[['STATE', 'zipcode_add0', 'agi_stub', 'N1', 'MIDPOINT_INCOME']]

# Display the result
print(result.head(10))

      STATE zipcode_add0  agi_stub      N1  MIDPOINT_INCOME
19804    CT        06001         1  1960.0            12500
19805    CT        06001         2  1070.0            37500
19806    CT        06001         3  1030.0            62500
19807    CT        06001         4   880.0            87500
19808    CT        06001         5  2120.0           150000
19809    CT        06001         6  2310.0          1000000
19810    CT        06002         1  3320.0            12500
19811    CT        06002         2  3110.0            37500
19812    CT        06002         3  2250.0            62500
19813    CT        06002         4  1400.0            87500

In [136]:
# Group by 'zipcode' and 'STATE', and calculate the sum of Number of return and the sum of the income products
grouped_data = df_zip_income_new.groupby(['zipcode_add0', 'STATE'], as_index=False).agg({
    'N1': 'sum',
    'INCOME_MULTIPLIED': 'sum'
})

# Calculate the average agi_stub based on the formula
grouped_data['AVERAGE_AGI_STUB'] = grouped_data['INCOME_MULTIPLIED'] / grouped_data['N1']

In [137]:
grouped_data.head(20)

   zipcode_add0 STATE       N1  INCOME_MULTIPLIED  AVERAGE_AGI_STUB
0         01001    MA   9320.0       8.123750e+08      87164.699571
1         01002    MA   9880.0       1.531250e+09     154984.817814
2         01005    MA   2490.0       2.153750e+08      86495.983936
3         01007    MA   7970.0       9.876250e+08     123917.816813
4         01008    MA    660.0       6.300000e+07      95454.545455
5         01010    MA   1980.0       2.371250e+08     119760.101010
6         01011    MA    630.0       3.900000e+07      61904.761905
7         01012    MA    410.0       2.612500e+07      63719.512195
8         01013    MA  11270.0       5.835000e+08      51774.622893
9         01020    MA  15760.0       9.882500e+08      62706.218274
10        01022    MA   1180.0       5.700000e+07      48305.084746
11        01026    MA    520.0       3.212500e+07      61778.846154
12        01027    MA  10070.0       9.047500e+08      89846.077458
13        01028    MA   8540.0       1.293000e+09     151405.152225
14        01030    MA   6170.0       6.362500e+08     103119.935170
15        01031    MA    570.0       2.962500e+07      51973.684211
16        01032    MA    270.0       1.762500e+07      65277.777778
17        01033    MA   3370.0       3.857500e+08     114465.875371
18        01034    MA   1040.0       1.167500e+08     112259.615385
19        01035    MA   2920.0       3.677500e+08     125941.780822

In [138]:
grouped_data['ZIPCODE5'] = grouped_data['zipcode_add0']

In [139]:
grouped_data['ZIPCODE5'].dtype

dtype('O')

In [140]:
grouped_data['ZIPCODE5'].isna().sum()

0

In [141]:
grouped_data.head(20)

   zipcode_add0 STATE       N1  INCOME_MULTIPLIED  AVERAGE_AGI_STUB ZIPCODE5
0         01001    MA   9320.0       8.123750e+08      87164.699571    01001
1         01002    MA   9880.0       1.531250e+09     154984.817814    01002
2         01005    MA   2490.0       2.153750e+08      86495.983936    01005
3         01007    MA   7970.0       9.876250e+08     123917.816813    01007
4         01008    MA    660.0       6.300000e+07      95454.545455    01008
5         01010    MA   1980.0       2.371250e+08     119760.101010    01010
6         01011    MA    630.0       3.900000e+07      61904.761905    01011
7         01012    MA    410.0       2.612500e+07      63719.512195    01012
8         01013    MA  11270.0       5.835000e+08      51774.622893    01013
9         01020    MA  15760.0       9.882500e+08      62706.218274    01020
10        01022    MA   1180.0       5.700000e+07      48305.084746    01022
11        01026    MA    520.0       3.212500e+07      61778.846154    01026
12        01027    MA  10070.0       9.047500e+08      89846.077458    01027
13        01028    MA   8540.0       1.293000e+09     151405.152225    01028
14        01030    MA   6170.0       6.362500e+08     103119.935170    01030
15        01031    MA    570.0       2.962500e+07      51973.684211    01031
16        01032    MA    270.0       1.762500e+07      65277.777778    01032
17        01033    MA   3370.0       3.857500e+08     114465.875371    01033
18        01034    MA   1040.0       1.167500e+08     112259.615385    01034
19        01035    MA   2920.0       3.677500e+08     125941.780822    01035

# Adding 'AVERAGE_AGI_STUB' to df_us_houseprice based on ZIPCODE5

In [142]:
df_us_houseprice['ZIPCODE5'].isnull().sum()

0

In [143]:
# 'ZIPCODE5' is a common column in both DataFrames, use it to merge the two df

df_us_houseprice_income = pd.merge(df_us_houseprice, grouped_data[['ZIPCODE5', 'AVERAGE_AGI_STUB']], on='ZIPCODE5', how='left')

In [144]:
df_us_houseprice_income.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full,party_label,zipcode_datatype,ZIPCODE5,2023_average,AVERAGE_AGI_STUB
0,C00806752,LAS VEGAS,NV,89107,NaN,NaN,4052022,580,REPUBLICAN PARTY,0,<class 'str'>,89107,320518.986361,58496.690428
1,C00806752,LAS VEGAS,NV,89148,NaN,NaN,4102022,350,REPUBLICAN PARTY,0,<class 'str'>,89148,449054.130060,97228.905999
2,C00806752,LAS VEGAS,NV,89107,NONE,RETIRED,4112022,480,REPUBLICAN PARTY,0,<class 'str'>,89107,320518.986361,58496.690428
3,C00806752,LAS VEGAS,NV,89110,NONE,RETIRED,6302022,7709,REPUBLICAN PARTY,0,<class 'str'>,89110,326615.908573,46537.385929
4,C00806372,PROVIDENCE,RI,029033050,NOT EMPLOYED,NOT EMPLOYED,1112023,64427,DEMOCRATIC PARTY,1,<class 'str'>,02903,376564.797751,140167.364017

In [145]:
# Get data type counts for 'zipcode_tf' column
dtype_counts_df_us_houseprice_income = df_us_houseprice_income['ZIPCODE5'].apply(type).value_counts()

# Display the data type counts
print(dtype_counts_df_us_houseprice_income)

<class 'str'>    6638986
Name: ZIPCODE5, dtype: int64

In [146]:
# Calculate the length of each ZIP code and get the min and max lengths
min_length_df_us_houseprice_income = df_us_houseprice_income['ZIPCODE5'].astype(str).apply(len).min()
max_length_df_us_houseprice_income = df_us_houseprice_income['ZIPCODE5'].astype(str).apply(len).max()

# Display the results
print(f"Minimum length: {min_length_df_us_houseprice_income}")
print(f"Maximum length: {max_length_df_us_houseprice_income}")

Minimum length: 5
Maximum length: 5

In [147]:
# # Iterate over lengths from 1 to 5
# for length in range(1, 6):
#     unique_values_df_us_houseprice_income = df_us_houseprice_income['ZIPCODE5'].astype(str).apply(lambda x: x[:length]).unique()
    
#     print(f"Unique values for length {length}:")
#     print(unique_values_df_us_houseprice_income)
#     print()

In [148]:
df_us_houseprice_income['AVERAGE_AGI_STUB'].count()

6469384

In [149]:
df_us_houseprice_income['AVERAGE_AGI_STUB'].isna().sum()

169602

In [150]:
df_us_houseprice_income['AVERAGE_AGI_STUB'].isna().sum()/df_us_houseprice_income.shape[0]

# 2.55% missing values in 'AVERAGE_AGI_STUB' which is renamed as'average_household_income' later.

0.02554637108739196

In [151]:
df_us_houseprice_income['AVERAGE_AGI_STUB'].count()/df_us_houseprice_income.shape[0]

0.974453628912608

In [152]:
df_us_houseprice_income['average_household_income'] = df_us_houseprice_income['AVERAGE_AGI_STUB']

In [153]:
df_us_houseprice_income['average_house_price']=df_us_houseprice_income['2023_average']

In [154]:
df_us_houseprice_income.head()

,CMTE_ID,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,party_full,party_label,zipcode_datatype,ZIPCODE5,2023_average,AVERAGE_AGI_STUB,average_household_income,average_house_price
0,C00806752,LAS VEGAS,NV,89107,NaN,NaN,4052022,580,REPUBLICAN PARTY,0,<class 'str'>,89107,320518.986361,58496.690428,58496.690428,320518.986361
1,C00806752,LAS VEGAS,NV,89148,NaN,NaN,4102022,350,REPUBLICAN PARTY,0,<class 'str'>,89148,449054.130060,97228.905999,97228.905999,449054.130060
2,C00806752,LAS VEGAS,NV,89107,NONE,RETIRED,4112022,480,REPUBLICAN PARTY,0,<class 'str'>,89107,320518.986361,58496.690428,58496.690428,320518.986361
3,C00806752,LAS VEGAS,NV,89110,NONE,RETIRED,6302022,7709,REPUBLICAN PARTY,0,<class 'str'>,89110,326615.908573,46537.385929,46537.385929,326615.908573
4,C00806372,PROVIDENCE,RI,029033050,NOT EMPLOYED,NOT EMPLOYED,1112023,64427,DEMOCRATIC PARTY,1,<class 'str'>,02903,376564.797751,140167.364017,140167.364017,376564.797751

In [155]:
df_us_houseprice_income['average_house_price'].isnull().sum()/df_us_houseprice_income.shape[0]

# 2.28% missing values in 'average_house_price'

0.022759951595017675

In [156]:
df_us_houseprice_income.shape

(6638986, 16)

# Drop columns

In [157]:
columns_to_drop = ['zipcode_datatype','2023_average','AVERAGE_AGI_STUB']

# Use the drop method to remove the specified columns
df_us_houseprice_income = df_us_houseprice_income.drop(columns=columns_to_drop)

In [158]:
df_us_houseprice_income.shape

(6638986, 13)

In [159]:
df_us_houseprice_income.columns

Index(['CMTE_ID', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION',
       'TRANSACTION_DT', 'TRANSACTION_AMT', 'party_full', 'party_label',
       'ZIPCODE5', 'average_household_income', 'average_house_price'],
      dtype='object')

In [160]:
df_us_houseprice_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6638986 entries, 0 to 6638985
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   CMTE_ID                   object
 1   CITY                      object
 2   STATE                     object
 3   ZIP_CODE                  object
 4   EMPLOYER                  object
 5   OCCUPATION                object
 6   TRANSACTION_DT            int64
 7   TRANSACTION_AMT           int64
 8   party_full                object
 9   party_label               int64
 10  ZIPCODE5                  object
 11  average_household_income  float64
 12  average_house_price       float64
dtypes: float64(2), int64(3), object(8)
memory usage: 709.1+ MB

In [161]:
df_us_houseprice_income.ZIPCODE5.dtype

dtype('O')

# generate a new file 'df_zipcode_no_Name.csv' after generating features 'average_house_price' and 'average_household_income' from 'ZIPCODE5'Â¶.

In [180]:
df_us_houseprice_income.to_csv('df_zipcode_no_Name.csv', index=False)

In [181]:
df_0=pd.read_csv('df_zipcode_no_Name.csv')

C:\Users\tubos\AppData\Local\Temp\ipykernel_24764\1726556694.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_0=pd.read_csv('df_zipcode_no_Name.csv')

In [182]:
df_0.shape

(6638986, 13)

In [184]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6638986 entries, 0 to 6638985
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   CMTE_ID                   object
 1   CITY                      object
 2   STATE                     object
 3   ZIP_CODE                  object
 4   EMPLOYER                  object
 5   OCCUPATION                object
 6   TRANSACTION_DT            int64
 7   TRANSACTION_AMT           int64
 8   party_full                object
 9   party_label               int64
 10  ZIPCODE5                  int64
 11  average_household_income  float64
 12  average_house_price       float64
dtypes: float64(2), int64(4), object(7)
memory usage: 658.5+ MB